Repository roflcoopter/viseron: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/azure-pipelines-viseron.yml, azure-pipelines/azure-pipelines-wheels.yml

azure-pipelines/azure-pipelines-viseron.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Build
    jobs:
    - template: templates/build.yaml
      parameters:
        image: viseron
        release: true
        noCache: ${{ parameters.noCache }}
  - stage: Publish
    jobs:
    - job: ReleaseViseron
      pool:
        vmImage: ubuntu-latest
      steps:
  ...

azure-pipelines/azure-pipelines-wheels.yml:
  pool:
    vmImage: ubuntu-latest
  jobs:
  - template: templates/build.yaml
    parameters:
      image: wheels
      noCache: ${{ parameters.noCache }}

perform ffmpeg frame i/o in a RestartableProcess
  viseron/components/ffmpeg/camera.py
  viseron/components/ffmpeg/stream.py
  viseron/components/gstreamer/stream.py
Due: azure-pipelines/azure-pipelines-viseron.yml

make pop_if_full recursive
  viseron/helpers/__init__.py
Due: azure-pipelines/azure-pipelines-viseron.yml

add extra status text to CameraNameOverlay
  frontend/src/components/camera/CameraNameOverlay.tsx
Due: none

rename header margin in theme
  frontend/src/components/header/Header.tsx
  frontend/src/context/ColorModeContext.tsx
Due: none

z index adjustment for Events page
  frontend/src/components/events/CustomControls.tsx
  frontend/src/components/events/timeline/TimelinePlayer.tsx
Due: none

include go2rtc video-rtc.js in build
  .codespellrc
  docker/Dockerfile
  frontend/.eslintrc.cjs
  frontend/src/video-rtc.d.ts
  frontend/src/video-rtc.js
Due: none

move VideoPlayer
  frontend/src/components/player/videoplayer/VideoPlayer.css
  frontend/src/components/player/videoplayer/VideoPlayer.tsx
  frontend/src/components/player/videoplayer/VideoPlayerPlaceholder.tsx
  frontend/src/components/recording/RecordingCard.tsx
  frontend/src/components/recording/RecordingCardDaily.tsx
  frontend/src/components/recording/RecordingCardLatest.tsx
  frontend/src/lib/helpers.tsx
Due: none

move rtc player
  .codespellrc
  docker/Dockerfile
  frontend/src/components/player/liveplayer/video-rtc.d.ts
  frontend/src/components/player/liveplayer/video-rtc.js
Due: none

rename EventsCameraGrid and move it to camera folder
  frontend/src/components/camera/CameraGrid.tsx
  frontend/src/components/camera/CameraPickerDialog.tsx
  frontend/src/components/camera/useCameraStore.tsx
  frontend/src/components/events/EventDatePickerDialog.tsx
  frontend/src/components/events/EventPlayerCard.tsx
  frontend/src/components/events/EventTable.tsx
  frontend/src/components/events/ExportDialog.tsx
  frontend/src/components/events/FloatingMenu.tsx
  frontend/src/components/events/Layouts.tsx
  frontend/src/components/events/timeline/TimelineTable.tsx
  frontend/src/components/events/utils.tsx
  frontend/src/pages/Events.tsx
Due: none

rename CameraGrid to CameraPickerGrid
  frontend/src/components/camera/CameraPickerDialog.tsx
  frontend/src/components/camera/CameraPickerGrid.tsx
Due: none

reduce CameraPickerGrid size
  frontend/src/components/camera/CameraPickerGrid.tsx
Due: none

add fullscreen button to CustomControls
  frontend/src/components/events/CustomControls.tsx
Due: none

add fullscreen action to Events page
  frontend/src/components/events/EventPlayerCard.tsx
  frontend/src/components/events/FloatingMenu.tsx
Due: none

fix edgetpu image classification
  viseron/components/edgetpu/__init__.py
  viseron/components/edgetpu/edgetpu_subprocess.py
  viseron/components/edgetpu/image_classification.py
Due: azure-pipelines/azure-pipelines-viseron.yml

make responsive player grid a reusable component
  frontend/src/components/events/Layouts.tsx
  frontend/src/components/events/PlayerCard.tsx
  frontend/src/components/player/grid/PlayerGrid.tsx
  frontend/src/components/player/grid/utils.tsx
  frontend/src/components/player/hlsplayer/HlsPlayer.tsx
Due: none

reorganize events page components
  frontend/src/components/events/DatePickerDialog.tsx
  frontend/src/components/events/FloatingMenu.tsx
  frontend/src/components/events/Layouts.tsx
  frontend/src/components/events/PlayerCard.tsx
  frontend/src/components/events/events/EventTable.tsx
  frontend/src/components/events/events/EventTableItem.tsx
  frontend/src/components/player/CustomControls.tsx
  frontend/tests/components/events/DatePicker.test.tsx
Due: none

add LivePlayer component for live streaming mse/webrtc
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/events/PlayerCard.tsx
  frontend/src/components/player/CustomControls.tsx
  frontend/src/components/player/grid/PlayerGrid.tsx
  frontend/src/components/player/liveplayer/LivePlayer.tsx
  frontend/src/components/player/liveplayer/custom-elements.d.ts
  frontend/src/components/player/liveplayer/video-stream.ts
Due: none

add Live page
  frontend/src/App.tsx
  frontend/src/components/footer/Footer.tsx
  frontend/src/components/header/Drawer.tsx
  frontend/src/pages/Live.tsx
Due: none

restore codespell ignore-regex
  .codespellrc
Due: none

install typing-extensions in ci
  requirements_ci.txt
Due: none

move typing-extensions to requirements.txt
  requirements.txt
  requirements_ci.txt
Due: azure-pipelines/azure-pipelines-wheels.yml

pin python-immutable
  requirements.txt
Due: azure-pipelines/azure-pipelines-wheels.yml

run fragmenter in subprocess
  viseron/domains/camera/fragmenter.py
  viseron/helpers/child_process_worker.py
  viseron/helpers/logs.py
Due: azure-pipelines/azure-pipelines-viseron.yml

fix fragmenter test
  tests/domains/camera/test_fragmenter.py
Due: none

don't try to generate event clip when no fragments available
  viseron/domains/camera/recorder.py
Due: azure-pipelines/azure-pipelines-viseron.yml

trigger tier check when fragmenter cant move file to first tier
  viseron/components/storage/__init__.py
  viseron/components/storage/const.py
  viseron/components/storage/jobs.py
  viseron/components/storage/tier_handler.py
  viseron/domains/camera/fragmenter.py
Due: azure-pipelines/azure-pipelines-viseron.yml

remove config bind mount and change its location in devcontainer
  .devcontainer/devcontainer.json
  .devcontainer/setup.sh
  docker/Dockerfile
  rootfs/etc/cont-finish.d/10-postgres
  rootfs/etc/cont-init.d/40-set-env-vars
  rootfs/etc/services.d/go2rtc/run
  rootfs/etc/services.d/nginx/run
  rootfs/etc/services.d/postgres/run
  scripts/gen_docs/__main__.py
  viseron/const.py
  viseron/domains/face_recognition/const.py
Due: azure-pipelines/azure-pipelines-viseron.yml

camera snapshot auth using cookies
  frontend/src/components/camera/CameraCard.tsx
  viseron/components/webserver/api/v1/auth.py
Due: azure-pipelines/azure-pipelines-viseron.yml

upgrade to hls.js 1.6.5
  frontend/package-lock.json
  frontend/package.json
Due: none

implement tier check subprocess using numpy instead of SQL
  docker/Dockerfile
  docs/src/pages/components-explorer/components/storage/config.json
  tests/components/storage/test_check_tier.py
  tests/components/storage/test_config.py
  tests/components/storage/test_queries.py
  tests/components/storage/test_tier_handler.py
  tests/components/storage/test_util.py
  viseron/components/storage/__init__.py
  viseron/components/storage/check_tier.py
  viseron/components/storage/config.py
  viseron/components/storage/const.py
  viseron/components/storage/queries.py
  viseron/components/storage/storage_subprocess.py
  viseron/components/storage/tier_handler.py
  viseron/components/storage/util.py
Due: azure-pipelines/azure-pipelines-viseron.yml

slight performance upgrades to get_recordings_to_move
  viseron/components/storage/check_tier.py
Due: azure-pipelines/azure-pipelines-viseron.yml

throttle check tier commands in worker instead of tier handler
  viseron/components/storage/check_tier.py
  viseron/components/storage/storage_subprocess.py
  viseron/components/storage/tier_handler.py
Due: azure-pipelines/azure-pipelines-viseron.yml

add ssh to devcontainer
  .devcontainer/devcontainer.json
Due: none

properly close queues in ChildProcessWorker
  viseron/helpers/child_process_worker.py
Due: azure-pipelines/azure-pipelines-viseron.yml

wrap start of queue manager server in a lock
  viseron/helpers/subprocess_worker.py
Due: azure-pipelines/azure-pipelines-viseron.yml

rename TIER_CHECK_CPULIMIT to TIER_CHECK_CPU_LIMIT
  viseron/components/storage/__init__.py
  viseron/components/storage/config.py
  viseron/components/storage/const.py
Due: azure-pipelines/azure-pipelines-viseron.yml

include logo as png
  docs/static/img/viseron-logo.png
Due: none

catch TypeError in duplicate log filter
  viseron/helpers/logs.py
Due: azure-pipelines/azure-pipelines-viseron.yml

update throttling mechanism with unique throttle key
  viseron/components/storage/check_tier.py
  viseron/components/storage/storage_subprocess.py
  viseron/components/storage/tier_handler.py
Due: azure-pipelines/azure-pipelines-viseron.yml

add index to Files table to improve tier check performance
  viseron/components/storage/alembic/versions/a6397b8c2fc9_add_index_to_files_table_to_improve_.py
  viseron/components/storage/models.py
Due: azure-pipelines/azure-pipelines-viseron.yml

Path conditions:
  azure-pipelines/azure-pipelines-viseron.yml: any of: viseron, rootfs, but not: requirements.txt
  azure-pipelines/azure-pipelines-wheels.yml: any of: requirements.txt
