Repository roflcoopter/viseron: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/azure-pipelines-viseron.yml, azure-pipelines/azure-pipelines-wheels.yml

azure-pipelines/azure-pipelines-viseron.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Build
    jobs:
    - template: templates/build.yaml
      parameters:
        image: viseron
        release: true
        noCache: ${{ parameters.noCache }}
  - stage: Publish
    jobs:
    - job: ReleaseViseron
      pool:
        vmImage: ubuntu-latest
      steps:
  ...

azure-pipelines/azure-pipelines-wheels.yml:
  pool:
    vmImage: ubuntu-latest
  jobs:
  - template: templates/build.yaml
    parameters:
      image: wheels
      noCache: ${{ parameters.noCache }}

Make recording thumbnails recoverable
  tests/domains/camera/test_recorder.py
  viseron/domains/camera/recorder.py
Due: azure-pipelines/azure-pipelines-viseron.yml

Validate tier hint paths
  viseron/components/webserver/tiered_file_handler.py
Due: azure-pipelines/azure-pipelines-viseron.yml

feat(storage): serve media artifacts by file id
  frontend/e2e/playwright.setup.ts
  frontend/src/components/events/SnapshotEvent.tsx
  frontend/src/components/events/utils.tsx
  frontend/src/components/images/ImageWithFallback.tsx
  frontend/src/components/player/utils.tsx
  frontend/src/lib/types.ts
  frontend/tests/lib/helpers.test.ts
  frontend/tests/mocks/handlers.ts
  frontend/vite.config.ts
  rootfs/usr/local/nginx/conf/nginx.conf
  tests/components/storage/test_thumbnails.py
  tests/components/webserver/api/v1/test_files.py
  tests/components/webserver/api/v1/test_hls.py
  tests/components/webserver/test_tiered_file_handler.py
  tests/domains/camera/test_recorder.py
  viseron/components/discord/__init__.py
  viseron/components/storage/__init__.py
  viseron/components/storage/alembic/versions/d4f5c8a92b13_add_file_id_references.py
  viseron/components/storage/const.py
  viseron/components/storage/files.py
  viseron/components/storage/jobs.py
  viseron/components/storage/models.py
  viseron/components/storage/thumbnails.py
  viseron/components/storage/tier_handler.py
  viseron/components/telegram/__init__.py
  viseron/components/webserver/api/v1/events.py
  viseron/components/webserver/api/v1/files.py
  viseron/components/webserver/api/v1/hls.py
  viseron/components/webserver/api/v1/recordings.py
  viseron/components/webserver/static_file_handler.py
  viseron/components/webserver/tiered_file_handler.py
  viseron/domains/camera/__init__.py
  viseron/domains/camera/fragmenter.py
  viseron/domains/camera/recorder.py
  viseron/domains/motion_detector/__init__.py
  viseron/domains/object_detector/__init__.py
  viseron/domains/post_processor/__init__.py
Due: azure-pipelines/azure-pipelines-viseron.yml

fix(webserver): format file last-modified header
  tests/components/webserver/api/v1/test_files.py
  viseron/components/webserver/api/v1/files.py
Due: azure-pipelines/azure-pipelines-viseron.yml

fix(webserver): avoid file response error rewrites
  tests/components/webserver/api/v1/test_files.py
  viseron/components/webserver/api/handlers.py
  viseron/components/webserver/api/v1/files.py
Due: azure-pipelines/azure-pipelines-viseron.yml

Log unresolved media responses
  viseron/components/storage/files.py
  viseron/components/webserver/api/v1/events.py
  viseron/components/webserver/api/v1/files.py
  viseron/components/webserver/api/v1/hls.py
  viseron/components/webserver/api/v1/recordings.py
Due: azure-pipelines/azure-pipelines-viseron.yml

Handle unavailable media files as not found
  tests/components/webserver/api/v1/test_files.py
  viseron/components/webserver/api/v1/files.py
Due: azure-pipelines/azure-pipelines-viseron.yml

Avoid per-event null media warnings
  viseron/components/webserver/api/v1/events.py
Due: azure-pipelines/azure-pipelines-viseron.yml

Reduce HLS sync seek stutter
  frontend/src/components/events/SyncManager.tsx
Due: none

Smooth HLS multi-player drift correction
  frontend/src/components/events/SyncManager.tsx
Due: none

Avoid blocking startup on domain retries
  tests/domains/test__init__.py
  viseron/domains/__init__.py
Due: azure-pipelines/azure-pipelines-viseron.yml

Smooth single-camera event playback
  frontend/src/components/events/SyncManager.tsx
  frontend/src/components/events/utils.tsx
  frontend/src/components/player/hlsplayer/utils.ts
Due: none

Fix HLS discontinuity sequence tracking
  docs/docs/developers/docker.mdx
  tests/components/webserver/api/v1/test_hls.py
  tests/domains/camera/test_fragmenter.py
  viseron/components/webserver/api/v1/hls.py
  viseron/domains/camera/fragmenter.py
Due: azure-pipelines/azure-pipelines-viseron.yml

Implement logical file locations
  docs/docs/developers/storage.md
  docs/sidebars.ts
  tests/common.py
  tests/components/storage/test_queries.py
  tests/components/storage/test_tier_handler.py
  tests/components/webserver/api/v1/test_files.py
  tests/components/webserver/api/v1/test_hls.py
  tests/domains/camera/test_recorder.py
  viseron/components/storage/__init__.py
  viseron/components/storage/alembic/versions/31851b6eb50c_add_column_adjusted_start_time_to_.py
  viseron/components/storage/alembic/versions/e9f3a2c1d4b5_add_file_locations.py
  viseron/components/storage/check_tier.py
  viseron/components/storage/files.py
  viseron/components/storage/jobs.py
  viseron/components/storage/models.py
  viseron/components/storage/queries.py
  viseron/components/storage/tier_handler.py
  viseron/domains/camera/__init__.py
Due: azure-pipelines/azure-pipelines-viseron.yml

Handle client disconnects while streaming files
  tests/components/webserver/api/v1/test_files.py
  viseron/components/webserver/api/v1/files.py
Due: azure-pipelines/azure-pipelines-viseron.yml

fix(frontend): reduce timeline progress relayouts
  frontend/src/components/events/timeline/ProgressLine.tsx
Due: none

fix(frontend): reduce timeline hover relayouts
  frontend/src/components/events/timeline/HoverLine.tsx
  frontend/src/components/events/timeline/TimelineTable.tsx
Due: none

feat(requirements): update tornado to 6.5.7
  requirements.txt
Due: azure-pipelines/azure-pipelines-wheels.yml

feat(go2rtc): update go2rtc to 1.9.14
  azure-pipelines/.env
Due: none

fix(docker): remove segments folder creation
  docker/Dockerfile
Due: none

fix(mjpegplayer): improve state reset logic on source change
  frontend/src/components/player/mjpegplayer/useMjpegStreamMultipart.ts
Due: none

Prevent stale storage callbacks from accumulating
  tests/components/storage/test_storage_subprocess.py
  viseron/components/storage/storage_subprocess.py
Due: azure-pipelines/azure-pipelines-viseron.yml

fix(frontend): prevent synced hls live-edge resets
  frontend/src/components/events/SyncManager.tsx
  frontend/src/components/player/hlsplayer/HlsPlayer.tsx
  frontend/src/components/player/hlsplayer/HlsVodPlayer.tsx
  frontend/src/components/player/hlsplayer/utils.ts
  frontend/tests/components/player/hlsplayer/utils.test.ts
  frontend/vite.config.ts
Due: none

fix(frontend): prevent infinite loading spinner in events player
  frontend/src/components/player/hlsplayer/HlsPlayer.tsx
  frontend/tests/components/player/HlsPlayer.test.tsx
Due: none

refactor(frontend): centralize hls seek handling
  frontend/src/components/events/PlayerCard.tsx
  frontend/src/components/events/SyncManager.tsx
  frontend/src/components/player/CustomControls.tsx
  frontend/src/components/player/ProgressBar.tsx
  frontend/src/components/player/hlsplayer/HlsPlayer.tsx
  frontend/src/components/player/hlsplayer/HlsVodPlayer.tsx
  frontend/src/components/player/hlsplayer/useHlsPlayerControls.tsx
  frontend/src/components/player/hlsplayer/utils.ts
  frontend/tests/components/player/hlsplayer/utils.test.ts
Due: none

fix(requirements): pin matplotlib
  docker/Dockerfile.wheels
  requirements.txt
Due: azure-pipelines/azure-pipelines-wheels.yml

Improve recorder HLS timestamp handling
  docs/src/pages/components-explorer/components/ffmpeg/config.json
  docs/src/pages/components-explorer/components/ffmpeg/index.mdx
  frontend/src/components/events/SyncManager.tsx
  frontend/src/components/events/utils.tsx
  tests/components/ffmpeg/test_stream.py
  viseron/components/ffmpeg/camera.py
  viseron/components/ffmpeg/const.py
  viseron/components/ffmpeg/stream.py
Due: azure-pipelines/azure-pipelines-viseron.yml

feat(docs): update profile screenshot with PAT
  docs/static/img/ui/profile/main.png
  frontend/tests/mocks/handlers.ts
Due: none

Add hashed HLS init sidecars
  tests/components/storage/test_tier_handler.py
  tests/components/webserver/api/v1/test_hls.py
  viseron/components/storage/__init__.py
  viseron/components/storage/alembic/versions/6c7d2f8e9a10_add_hls_init_hash_to_files.py
  viseron/components/storage/files.py
  viseron/components/storage/jobs.py
  viseron/components/storage/models.py
  viseron/components/storage/tier_handler.py
  viseron/components/webserver/api/v1/hls.py
  viseron/domains/camera/fragmenter.py
Due: azure-pipelines/azure-pipelines-viseron.yml

docs(config): add docs on config reload
  docs/docs/documentation.md
  docs/docs/documentation/configuration/edit_config.md
  docs/static/img/screenshots/Viseron-screenshot-configuration-problems.png
  docs/static/img/screenshots/Viseron-screenshot-configuration.png
  docs/static/img/ui/config/main.png
  docs/static/img/ui/config/reload-button.png
  docs/static/img/ui/config/setup-errors.png
  docs/static/img/ui/config/yaml-syntax-error.png
  frontend/e2e/tests/docs.spec.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/editor/Editor.tsx
  frontend/src/components/editor/Markers.tsx
  frontend/tests/mocks/wsHandlers.ts
  frontend/tests/setupTests.ts
  frontend/tests/utils/const.ts
  frontend/vite.config.ts
Due: none

feat(reload): implement SIGHUP handling for config reload
  rootfs/etc/services.d/viseron/run
  rootfs/usr/local/bin/viseron
  tests/container/test_viseron_app.py
  tests/test_main.py
  viseron/__main__.py
Due: azure-pipelines/azure-pipelines-viseron.yml

storage: add percentage / free-space based retention (min_free_space)
  tests/components/storage/test_config.py
  tests/components/storage/test_free_space.py
  tests/components/storage/test_util.py
  viseron/components/storage/check_tier.py
  viseron/components/storage/config.py
  viseron/components/storage/const.py
  viseron/components/storage/storage_subprocess.py
  viseron/components/storage/tier_handler.py
  viseron/components/storage/util.py
Due: azure-pipelines/azure-pipelines-viseron.yml

feat(deps): update vulnerable python deps
  .devcontainer/setup.sh
  .dockerignore
  .github/workflows/ci.yaml
  .gitignore
  docker/Dockerfile
  docker/Dockerfile.tests
  docker/Dockerfile.wheels
  docker/jetson-nano/Dockerfile.wheels
  requirements.txt
  requirements_conflicts.txt
Due: azure-pipelines/azure-pipelines-wheels.yml

fix(storage): prevent callback leak in tier check command path
  pyproject.toml
  tests/components/storage/test_storage_subprocess.py
  tests/components/storage/test_tier_handler.py
  viseron/components/storage/storage_subprocess.py
  viseron/components/storage/tier_handler.py
Due: azure-pipelines/azure-pipelines-viseron.yml

feat(docs): add api authentication instructions
  docs/docs/documentation/configuration/api.md
  docs/sidebars.ts
Due: none

fix(go2rtc): change exception handling
  viseron/components/go2rtc/__init__.py
Due: azure-pipelines/azure-pipelines-viseron.yml

fix(deps): update pillow
  requirements-3.9.txt
  requirements.txt
Due: azure-pipelines/azure-pipelines-wheels.yml

fix(docker): install python3.9-dev
  docker/Dockerfile.wheels
Due: none

feat(fastalpr): add local license plate recognition component
  .mypy.ini
  docs/src/pages/components-explorer/components/fastalpr/_meta.tsx
  docs/src/pages/components-explorer/components/fastalpr/config.json
  docs/src/pages/components-explorer/components/fastalpr/index.mdx
  requirements.txt
  tests/components/fastalpr/test_license_plate_recognition.py
  viseron/components/fastalpr/__init__.py
  viseron/components/fastalpr/const.py
  viseron/components/fastalpr/fastalpr_types.py
  viseron/components/fastalpr/license_plate_recognition.py
  viseron/viseron_types.py
Due: azure-pipelines/azure-pipelines-viseron.yml, azure-pipelines/azure-pipelines-wheels.yml

feat(docs): add home assistant app instructions
  docs/docs/documentation/installation.mdx
Due: none

Path conditions:
  azure-pipelines/azure-pipelines-viseron.yml: any of: viseron, rootfs, but not: requirements.txt
  azure-pipelines/azure-pipelines-wheels.yml: any of: requirements.txt
