Repository roflcoopter/viseron: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/azure-pipelines-viseron.yml, azure-pipelines/azure-pipelines-wheels.yml

azure-pipelines/azure-pipelines-viseron.yml:

parameters:
  - name: noCache
    displayName: "Build without cache"
    type: boolean
    default: false

trigger:
  branches:
    include:
      - dev
  tags:
    include:
      - "*"
  paths:
    include:
      - viseron/*
      - rootfs/*
    exclude:
      - requirements.txt
pr: none

pool:
  vmImage: "ubuntu-latest"

resources:
  pipelines:
    - pipeline: viseronFFmpeg
      source: "Viseron FFmpeg"
      trigger:
        branches:
          - dev
    - pipeline: viseronOpenCV
      source: "Viseron OpenCV"
      trigger:
        branches:
          - dev
    - pipeline: viseronWheels
      source: "Viseron Wheels"
      trigger:
        branches:
          - dev
    - pipeline: viseronBase
      source: "Viseron Base"
      trigger:
        branches:
          - dev

stages:
  - stage: Build
    jobs:
      - template: templates/build.yaml
        parameters:
          image: viseron
          release: true
          noCache: ${{ parameters.noCache }}

  - stage: "Publish"
    jobs:
      - job: "ReleaseViseron"
        pool:
          vmImage: "ubuntu-latest"
        steps:
          - template: templates/release_version.yaml
            parameters:
              release: true
          - task: Docker@2
            displayName: Login to Docker Hub
            inputs:
              command: login
              containerRegistry: "Docker Hub"
          - script: |
              set -e
              export DOCKER_CLI_EXPERIMENTAL=enabled

              function create_manifest() {
                local release_version=$1

                docker manifest create roflcoopter/viseron:${release_version} \
                  roflcoopter/amd64-viseron:${release_version} \
                  roflcoopter/rpi3-viseron:${release_version} \
                  roflcoopter/aarch64-viseron:${release_version}

                docker manifest annotate roflcoopter/viseron:${release_version} \
                  roflcoopter/amd64-viseron:${release_version} \
                  --os linux --arch amd64

                docker manifest annotate roflcoopter/viseron:${release_version} \
                  roflcoopter/rpi3-viseron:${release_version} \
                  --os linux --arch arm --variant=v7

                docker manifest annotate roflcoopter/viseron:${release_version} \
                  roflcoopter/aarch64-viseron:${release_version} \
                  --os linux --arch arm64 --variant=v8

                docker manifest push --purge roflcoopter/viseron:${release_version}
                docker manifest inspect roflcoopter/viseron:${release_version}
              }

              docker pull roflcoopter/amd64-viseron:$(viseronVersion)
              docker pull roflcoopter/rpi3-viseron:$(viseronVersion)
              docker pull roflcoopter/aarch64-viseron:$(viseronVersion)

              # Create version tag
              create_manifest "$(viseronVersion)"
              if [ $(latestRelease) = true ] ; then
                create_manifest "latest"
              fi
            displayName: "Create multi-arch image"
          - task: Docker@2
            displayName: Logoff Docker Hub
            inputs:
              command: logout
              containerRegistry: "Docker Hub"
              condition: always()

azure-pipelines/azure-pipelines-wheels.yml:

parameters:
  - name: noCache
    displayName: "Build without cache"
    type: boolean
    default: false

trigger:
  branches:
    include:
      - dev
  paths:
    include:
      - requirements.txt
pr: none

pool:
  vmImage: "ubuntu-latest"

resources:
  pipelines:
    - pipeline: viserontools
      source: "Viseron tools"
      trigger:
        branches:
          - dev

jobs:
  - template: templates/build.yaml
    parameters:
      image: wheels
      noCache: ${{ parameters.noCache }}

install wget in go2rtc step
  docker/Dockerfile
Due: none

info message when no fragments
  tests/domains/camera/test_recorder.py
  viseron/domains/camera/recorder.py
Due: azure-pipelines/azure-pipelines-viseron.yml

make sure only one cleanup job can be started at a time
  viseron/components/storage/jobs.py
Due: azure-pipelines/azure-pipelines-viseron.yml

process file moves in batches
  docs/src/pages/components-explorer/components/storage/config.json
  viseron/components/storage/__init__.py
  viseron/components/storage/config.py
  viseron/components/storage/const.py
  viseron/components/storage/tier_handler.py
Due: azure-pipelines/azure-pipelines-viseron.yml

free up space in ci
  .github/workflows/ci.yaml
Due: none

delete unneeded binaries in ci
  .github/workflows/ci.yaml
Due: none

Update requirements.txt
  requirements.txt
Due: azure-pipelines/azure-pipelines-wheels.yml

delete unneeded binaries and docker images in ci
  .github/workflows/ci.yaml
Due: none

yolo component
  docs/src/pages/components-explorer/components/yolo/_meta.tsx
  docs/src/pages/components-explorer/components/yolo/config.json
  docs/src/pages/components-explorer/components/yolo/index.mdx
  requirements.txt
  viseron/components/yolo/__init__.py
  viseron/components/yolo/const.py
  viseron/components/yolo/object_detector.py
Due: azure-pipelines/azure-pipelines-viseron.yml, azure-pipelines/azure-pipelines-wheels.yml

simplify error handling
  viseron/components/yolo/object_detector.py
Due: azure-pipelines/azure-pipelines-viseron.yml

update component logo link
  docs/src/pages/components-explorer/components/yolo/_meta.tsx
Due: none

fix timing issue with _concatenate_fragements
  tests/domains/camera/test_recorder.py
  viseron/domains/camera/recorder.py
Due: azure-pipelines/azure-pipelines-viseron.yml

delegate file move/delete to subprocess
  docs/src/pages/components-explorer/components/storage/config.json
  viseron/__init__.py
  viseron/components/storage/__init__.py
  viseron/components/storage/check_tier.py
  viseron/components/storage/config.py
  viseron/components/storage/const.py
  viseron/components/storage/storage_subprocess.py
  viseron/components/storage/tier_handler.py
  viseron/helpers/subprocess_worker.py
  viseron/watchdog/thread_watchdog.py
Due: azure-pipelines/azure-pipelines-viseron.yml

update storage tests
  tests/components/storage/test_config.py
  tests/components/storage/test_tier_handler.py
  tests/conftest.py
  viseron/components/storage/tier_handler.py
Due: azure-pipelines/azure-pipelines-viseron.yml

change return value of sleep_between_batches
  viseron/components/storage/__init__.py
Due: azure-pipelines/azure-pipelines-viseron.yml

fix: update deepstack face detection coordinates to use correct keys
  viseron/components/deepstack/face_recognition.py
Due: azure-pipelines/azure-pipelines-viseron.yml

copy coco.names to rpi image
  docker/rpi3/Dockerfile.base
Due: none

fix mypy error
  .mypy.ini
Due: none

remove useless pylint supression
  viseron/components/webserver/websocket_api/commands.py
Due: azure-pipelines/azure-pipelines-viseron.yml

fix line too long in documentation
  viseron/components/yolo/const.py
Due: azure-pipelines/azure-pipelines-viseron.yml

extract tag from docker compose file before tagging
  azure-pipelines/templates/build.yaml
Due: none

ignore ultralytics for rpi3
  docs/src/pages/components-explorer/components/yolo/index.mdx
  requirements.txt
Due: azure-pipelines/azure-pipelines-wheels.yml

resub on mqtt reconnection
  viseron/components/mqtt/__init__.py
  viseron/components/mqtt/event.py
Due: azure-pipelines/azure-pipelines-viseron.yml

make mjpeg stream viewable from Live page
  frontend/src/components/camera/CameraCard.tsx
  frontend/src/components/header/Drawer.tsx
  frontend/src/components/player/CustomControls.tsx
  frontend/src/components/player/PlayerMenu.tsx
  frontend/src/components/player/UsePlayerSettingsStore.tsx
  frontend/src/components/player/liveplayer/LivePlayer.tsx
  frontend/src/components/player/mjpegplayer/MjpegPlayer.tsx
  frontend/src/lib/types.ts
  frontend/src/pages/Live.tsx
  frontend/tests/lib/helpers.test.ts
  viseron/components/go2rtc/__init__.py
  viseron/domains/camera/__init__.py
Due: azure-pipelines/azure-pipelines-viseron.yml

force pytorch CPU install in CI
  .github/workflows/ci.yaml
Due: none

cap HLS error to max 200 chars
  frontend/src/components/player/hlsplayer/HlsPlayer.tsx
Due: none

enable react query retries
  frontend/src/lib/api/client.ts
Due: none

fix cleanup jobs to run on all tier paths
  viseron/components/storage/__init__.py
  viseron/components/storage/jobs.py
Due: azure-pipelines/azure-pipelines-viseron.yml

change frequency of files and database cleanup to once a day
  viseron/components/storage/jobs.py
Due: azure-pipelines/azure-pipelines-viseron.yml

pin pillow=11.1.0
  requirements-3.9.txt
  requirements.txt
Due: azure-pipelines/azure-pipelines-wheels.yml

jetson nano wheels install build-essential
  docker/jetson-nano/Dockerfile.wheels
Due: none

upgrade psutil to 7.0.0
  requirements.txt
Due: azure-pipelines/azure-pipelines-wheels.yml

nginx: proxy.conf: remove ssl_early_data
  rootfs/usr/local/nginx/conf/proxy.conf
Due: azure-pipelines/azure-pipelines-viseron.yml

Use the FFmpeg implementation from switchroot instead of Nvidia's
  azure-pipelines/.env
  azure-pipelines/docker-compose-build.yaml
  docker/jetson-nano/Dockerfile.base
Due: none
