Repository roflcoopter/viseron: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/azure-pipelines-viseron.yml, azure-pipelines/azure-pipelines-wheels.yml

azure-pipelines/azure-pipelines-viseron.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Build
    jobs:
    - template: templates/build.yaml
      parameters:
        image: viseron
        release: true
        noCache: ${{ parameters.noCache }}
  - stage: Publish
    jobs:
    - job: ReleaseViseron
      pool:
        vmImage: ubuntu-latest
      steps:
  ...

azure-pipelines/azure-pipelines-wheels.yml:
  pool:
    vmImage: ubuntu-latest
  jobs:
  - template: templates/build.yaml
    parameters:
      image: wheels
      noCache: ${{ parameters.noCache }}

feat(tests): add data mount container test
  tests/container/conftest.py
  tests/container/test_data_mount.py
Due: none

feat(docker): allow disabling chown at startup
  docs/docs/documentation/installation.mdx
  rootfs/etc/cont-init.d/10-adduser
  tests/container/test_data_mount.py
  tests/container/test_init_scripts.py
Due: azure-pipelines/azure-pipelines-viseron.yml

feat(nvr): add recording schedule
  .github/workflows/ci.yaml
  docs/docs/documentation/configuration/recordings.mdx
  docs/src/pages/components-explorer/components/ffmpeg/config.json
  docs/src/pages/components-explorer/components/gstreamer/config.json
  requirements.txt
  requirements_test.txt
  scripts/gen_docs/__main__.py
  tests/common.py
  tests/components/nvr/test_nvr.py
  tests/components/storage/test_check_tier.py
  tests/components/storage/test_tier_handler.py
  tests/domains/camera/test_config.py
  tests/domains/camera/test_recorder.py
  tests/domains/camera/test_schedule.py
  tests/helpers/test__init__.py
  tests/helpers/test_validators.py
  viseron/components/nvr/nvr.py
  viseron/components/storage/check_tier.py
  viseron/components/storage/storage_subprocess.py
  viseron/components/storage/tier_handler.py
  viseron/components/webserver/__init__.py
  viseron/domains/camera/config.py
  viseron/domains/camera/const.py
  viseron/domains/camera/recorder.py
  viseron/domains/camera/schedule.py
  viseron/helpers/__init__.py
  viseron/helpers/validators.py
Due: azure-pipelines/azure-pipelines-viseron.yml, azure-pipelines/azure-pipelines-wheels.yml

feat(object_detector): add require_motion_overlap to gate recordings on object/motion overlap
  tests/common.py
  tests/components/nvr/test_nvr.py
  tests/domains/object_detector/test_abstract_object_detector.py
  tests/helpers/test__init__.py
  tests/helpers/test_filter.py
  viseron/components/nvr/nvr.py
  viseron/domains/object_detector/__init__.py
  viseron/domains/object_detector/const.py
  viseron/helpers/__init__.py
  viseron/helpers/filter.py
Due: azure-pipelines/azure-pipelines-viseron.yml

docs: regenerate object_detector config docs for motion overlap settings
  docs/src/pages/components-explorer/components/codeprojectai/config.json
  docs/src/pages/components-explorer/components/darknet/config.json
  docs/src/pages/components-explorer/components/deepstack/config.json
  docs/src/pages/components-explorer/components/edgetpu/config.json
  docs/src/pages/components-explorer/components/hailo/config.json
  docs/src/pages/components-explorer/components/yolo/config.json
Due: none

fix(helpers): pass fillPoly color as a sequence to satisfy mypy
  viseron/helpers/__init__.py
Due: azure-pipelines/azure-pipelines-viseron.yml

feat(object_detector): symmetric stop gate, no-contour overlap, cached mask
  tests/components/nvr/test_nvr.py
  tests/helpers/test__init__.py
  viseron/components/nvr/nvr.py
  viseron/helpers/__init__.py
Due: azure-pipelines/azure-pipelines-viseron.yml

fix(fastalpr): address PR review comments
  azure-pipelines/.env
  docs/src/pages/components-explorer/components/fastalpr/_meta.tsx
  docs/src/pages/components-explorer/components/fastalpr/index.mdx
  docs/static/img/logos/onnxruntime.png
Due: none

fix(ci): compare release parameter case-insensitively
  azure-pipelines/templates/release_version.yaml
Due: none

feat(domains): store image classification snapshots
  docs/src/pages/components-explorer/components/ffmpeg/config.json
  docs/src/pages/components-explorer/components/gstreamer/config.json
  docs/src/pages/components-explorer/components/storage/config.json
  frontend/src/components/events/SnapshotEvent.tsx
  frontend/src/components/events/utils.tsx
  frontend/src/components/recording/RecordingHeaderDaily.tsx
  frontend/src/hooks/UseExportEvent.ts
  frontend/src/lib/types.ts
  tests/components/storage/test__init__.py
  tests/components/storage/test_config.py
  tests/components/webserver/api/v1/test_events.py
  tests/domains/image_classification/__init__.py
  tests/domains/image_classification/test__init__.py
  tests/domains/post_processor/__init__.py
  tests/domains/post_processor/test__init__.py
  viseron/components/storage/__init__.py
  viseron/components/storage/config.py
  viseron/components/storage/const.py
  viseron/components/storage/tier_handler.py
  viseron/components/webserver/api/v1/events.py
  viseron/components/webserver/websocket_api/commands.py
  viseron/domains/camera/__init__.py
  viseron/domains/image_classification/__init__.py
  viseron/domains/post_processor/__init__.py
  viseron/viseron_types.py
Due: azure-pipelines/azure-pipelines-viseron.yml

feat(ci): mirror images to ghcr
  azure-pipelines/azure-pipelines-viseron.yml
  azure-pipelines/templates/build.yaml
Due: none

fix(yolo): specify runs-dir so yolo can run as non-root
  viseron/components/webserver/api/v1/tuning/labels.py
  viseron/components/yolo/object_detector.py
  viseron/helpers/ultralytics_settings.py
  viseron/helpers/ultralytics_telemetry.py
Due: azure-pipelines/azure-pipelines-viseron.yml

fix(ci): fail on errors when pushing to ghcr
  azure-pipelines/templates/build.yaml
Due: none

fix(frontend): narrow content-type header for axios 1.18 typings
  frontend/src/lib/api/download.ts
Due: none

fix(ci): install onnxruntime-gpu in cuda image only
  azure-pipelines/docker-compose-build.yaml
  docker/Dockerfile.wheels
  docs/src/pages/components-explorer/components/fastalpr/config.json
  requirements.txt
  viseron/components/fastalpr/const.py
Due: azure-pipelines/azure-pipelines-viseron.yml, azure-pipelines/azure-pipelines-wheels.yml

fix(devcontainer): add VISERON_APP_DIR
  .devcontainer/devcontainer.json
Due: none

feat(deps): enable dependabot
  .github/dependabot.yml
Due: none

feat(docs): update sidebar with installation sections
  docs/sidebars.ts
Due: none

fix(fastalpr): pin onnxruntime-gpu to a CUDA 12-compatible release
  azure-pipelines/.env
  docker/Dockerfile.wheels
Due: none

fix(ci). ignore astroid in codespell
  .codespellrc
Due: none

fix(deps): split docs and frontend
  .github/dependabot.yml
Due: none

fix(license_plate_recognition): plate_expired() signature mismatch
  viseron/domains/license_plate_recognition/binary_sensor.py
Due: azure-pipelines/azure-pipelines-viseron.yml

bump hailort to 4.24.0
  azure-pipelines/.env
Due: none

feat(face_recognition): add latest recognized face image entity
  tests/domains/face_recognition/__init__.py
  tests/domains/face_recognition/test__init__.py
  viseron/domains/face_recognition/__init__.py
  viseron/domains/face_recognition/image.py
Due: azure-pipelines/azure-pipelines-viseron.yml

fix(test): implement AbstractPostProcessor.preprocess in test helper
  tests/domains/face_recognition/test__init__.py
Due: none

build(deps): hold back libraries that depend on numpy >2
  .github/dependabot.yml
  .github/workflows/ci.yaml
  azure-pipelines/.env
  requirements.txt
  requirements_ci.txt
  requirements_test.txt
Due: azure-pipelines/azure-pipelines-wheels.yml

fix(lint): syntax updates to pass new linters
  .mypy.ini
  requirements.txt
  viseron/components/ffmpeg/camera.py
  viseron/components/gstreamer/camera.py
  viseron/components/webserver/websocket_api/commands.py
  viseron/domains/camera/entity/binary_sensor.py
  viseron/helpers/entity/binary_sensor.py
  viseron/helpers/entity/toggle.py
Due: azure-pipelines/azure-pipelines-viseron.yml, azure-pipelines/azure-pipelines-wheels.yml

fix(ci): run mypy serially in pre-commit
  .pre-commit-config.yaml
Due: none

fix(mypy): use cast for sqlalchemy and watchdog
  viseron/components/storage/jobs.py
  viseron/components/storage/tier_handler.py
  viseron/components/yolo/object_detector.py
Due: azure-pipelines/azure-pipelines-viseron.yml

fix(mypy): remove unused type ignore
  viseron/components/telegram/ptz_control.py
Due: azure-pipelines/azure-pipelines-viseron.yml

build(deps): pin av for jetson-nano
  .github/dependabot.yml
  requirements.txt
Due: azure-pipelines/azure-pipelines-wheels.yml

fix(docs): update sources for dependabot upgrades
  .github/dependabot.yml
  docs/.eslintrc.js
  docs/.nvmrc
  docs/eslint.config.cjs
  docs/package-lock.json
  docs/package.json
  docs/src/components/CoordinatesGenerator.tsx
  docs/src/components/HomepageFeatures.tsx
  docs/src/pages/components-explorer/_components/ComponentConfiguration/index.tsx
  docs/src/pages/components-explorer/components/fastalpr/_meta.tsx
  docs/src/pages/components-explorer/components/fastalpr/index.mdx
  docs/src/pages/components-explorer/index.tsx
  docs/src/pages/index.tsx
  netlify.toml
Due: none

feat(helper): enhance pop_if_full to use iterative approach for better performance
  pyproject.toml
  tests/helpers/test_pop_if_full.py
  viseron/helpers/__init__.py
Due: azure-pipelines/azure-pipelines-viseron.yml

fix(ffmpeg): back off exponentially when camera is unreachable
  tests/components/ffmpeg/test_camera.py
  viseron/components/ffmpeg/camera.py
  viseron/components/ffmpeg/const.py
  viseron/components/gstreamer/camera.py
  viseron/components/gstreamer/const.py
Due: azure-pipelines/azure-pipelines-viseron.yml

build(deps): resolve dep and syntax issues
  .github/dependabot.yml
  frontend/e2e/playwright.setup.ts
  frontend/eslint.config.cjs
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/buttons/MutationIconButton.tsx
  frontend/src/components/editor/Editor.tsx
  frontend/src/components/editor/Markers.tsx
  frontend/src/components/error/ErrorMessage.tsx
  frontend/src/components/events/DatePickerDialog.tsx
  frontend/src/components/events/events/EventTable.tsx
  frontend/src/components/events/timeline/ActivityLine.tsx
  frontend/src/components/player/liveplayer/LivePlayer.tsx
  frontend/src/components/player/mjpegplayer/MjpegPlayer.tsx
  frontend/src/components/tuning/camera/OSDTextDialog.tsx
  frontend/src/context/AuthContext.tsx
  frontend/src/context/ColorModeContext.tsx
  frontend/src/context/ViseronContext.tsx
  frontend/src/hooks/useDebouncedTemplateRender.ts
  frontend/src/lib/api/events.ts
  frontend/src/pages/Cameras.tsx
  frontend/src/pages/recordings/Recordings.tsx
  frontend/src/pages/settings/SystemEvents.tsx
  frontend/tests/mocks/wsHandlers.ts
  frontend/tsconfig.json
  frontend/vite.config.ts
Due: none

fix(webserver): apply camera assignment to websocket subscriptions
  tests/components/webserver/websocket_api/__init__.py
  tests/components/webserver/websocket_api/test_commands.py
  viseron/__init__.py
  viseron/components/webserver/websocket_api/commands.py
  viseron/states.py
Due: azure-pipelines/azure-pipelines-viseron.yml

fix(ui/onvif): Fix the use of useEffect with useState
  frontend/src/components/actions/ptz/OnvifPtzController.tsx
  frontend/src/components/tuning/onvif/device/DeviceDNS.tsx
  frontend/src/components/tuning/onvif/device/DeviceNetworkInterfaces.tsx
  frontend/src/components/tuning/onvif/device/DeviceNetworkSettings.tsx
Due: none

fix(ui/onvif): Fix the use of useEffect with useState #2
  frontend/src/components/tuning/onvif/device/DeviceNTP.tsx
Due: none

fix(ui): Remove unused icon
  frontend/src/components/recording/RecordingHeaderDaily.tsx
Due: none

fix(tele): Fix mismatch const import
  viseron/components/telegram/__init__.py
Due: azure-pipelines/azure-pipelines-viseron.yml

Path conditions:
  azure-pipelines/azure-pipelines-viseron.yml: any of: viseron, rootfs, but not: requirements.txt
  azure-pipelines/azure-pipelines-wheels.yml: any of: requirements.txt
