Repository roflcoopter/viseron: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/azure-pipelines-viseron.yml, azure-pipelines/azure-pipelines-wheels.yml

azure-pipelines/azure-pipelines-viseron.yml:

parameters:
  - name: noCache
    displayName: "Build without cache"
    type: boolean
    default: false

trigger:
  branches:
    include:
      - dev
  tags:
    include:
      - "*"
  paths:
    include:
      - viseron/*
      - rootfs/*
    exclude:
      - requirements.txt
pr: none

pool:
  vmImage: "ubuntu-latest"

resources:
  pipelines:
    - pipeline: viseronFFmpeg
      source: "Viseron FFmpeg"
      trigger:
        branches:
          - dev
    - pipeline: viseronOpenCV
      source: "Viseron OpenCV"
      trigger:
        branches:
          - dev
    - pipeline: viseronWheels
      source: "Viseron Wheels"
      trigger:
        branches:
          - dev
    - pipeline: viseronBase
      source: "Viseron Base"
      trigger:
        branches:
          - dev

stages:
  - stage: Build
    jobs:
      - template: templates/build.yaml
        parameters:
          image: viseron
          release: true
          noCache: ${{ parameters.noCache }}

  - stage: "Publish"
    jobs:
      - job: "ReleaseViseron"
        pool:
          vmImage: "ubuntu-latest"
        steps:
          - template: templates/release_version.yaml
            parameters:
              release: true
          - task: Docker@2
            displayName: Login to Docker Hub
            inputs:
              command: login
              containerRegistry: "Docker Hub"
          - script: |
              set -e
              export DOCKER_CLI_EXPERIMENTAL=enabled

              function create_manifest() {
                local release_version=$1

                docker manifest create roflcoopter/viseron:${release_version} \
                  roflcoopter/amd64-viseron:${release_version} \
                  roflcoopter/rpi3-viseron:${release_version} \
                  roflcoopter/aarch64-viseron:${release_version}

                docker manifest annotate roflcoopter/viseron:${release_version} \
                  roflcoopter/amd64-viseron:${release_version} \
                  --os linux --arch amd64

                docker manifest annotate roflcoopter/viseron:${release_version} \
                  roflcoopter/rpi3-viseron:${release_version} \
                  --os linux --arch arm --variant=v7

                docker manifest annotate roflcoopter/viseron:${release_version} \
                  roflcoopter/aarch64-viseron:${release_version} \
                  --os linux --arch arm64 --variant=v8

                docker manifest push --purge roflcoopter/viseron:${release_version}
                docker manifest inspect roflcoopter/viseron:${release_version}
              }

              docker pull roflcoopter/amd64-viseron:$(viseronVersion)
              docker pull roflcoopter/rpi3-viseron:$(viseronVersion)
              docker pull roflcoopter/aarch64-viseron:$(viseronVersion)

              # Create version tag
              create_manifest "$(viseronVersion)"
              if [ $(latestRelease) = true ] ; then
                create_manifest "latest"
              fi
            displayName: "Create multi-arch image"
          - task: Docker@2
            displayName: Logoff Docker Hub
            inputs:
              command: logout
              containerRegistry: "Docker Hub"
              condition: always()

azure-pipelines/azure-pipelines-wheels.yml:

parameters:
  - name: noCache
    displayName: "Build without cache"
    type: boolean
    default: false

trigger:
  branches:
    include:
      - dev
  paths:
    include:
      - requirements.txt
pr: none

pool:
  vmImage: "ubuntu-latest"

resources:
  pipelines:
    - pipeline: viserontools
      source: "Viseron tools"
      trigger:
        branches:
          - dev

jobs:
  - template: templates/build.yaml
    parameters:
      image: wheels
      noCache: ${{ parameters.noCache }}

style(ui): Add label to Role select input in AddUserDialog
  frontend/src/components/settings/user/AddUserDialog.tsx
Due: none

style(ui/tuning): Add loading indicator to SaveConfigButton when saving
  frontend/src/components/tuning/config/SaveConfigButton.tsx
Due: none

style(ui/ptz): Add enableTrackSlot to loading progress indicator
  frontend/src/components/actions/ptz/OnvifPtzController.tsx
Due: none

feat(tuning): Add onUpdateSnapshot hook for ONVIF component
  frontend/src/pages/Tuning.tsx
Due: none

feat(tuning): Create index file for ONVIF component to export miscellaneousConfig
  frontend/src/components/tuning/onvif/index.ts
Due: none

style(ui): Make icons in camera card more responsive again
  frontend/src/components/camera/CameraCard.tsx
  frontend/src/components/camera/CameraUptime.tsx
Due: none

fix(docs): Add issue query in github issue link
  docs/src/pages/components-explorer/_components/ComponentHeader/index.tsx
Due: none

feat(ui/tuning): Add tooltip helper texts to various section
  frontend/src/components/tuning/config/LabelsSection.tsx
  frontend/src/components/tuning/config/MasksSection.tsx
  frontend/src/components/tuning/config/MiscellaneousSection.tsx
  frontend/src/components/tuning/config/OSDTextsSection.tsx
  frontend/src/components/tuning/config/VideoTransformsSection.tsx
  frontend/src/components/tuning/config/ZonesSection.tsx
Due: none

docs: Add label tags for issue query link in all relevant components
  docs/src/pages/components-explorer/components/background_subtractor/_meta.tsx
  docs/src/pages/components-explorer/components/codeprojectai/_meta.tsx
  docs/src/pages/components-explorer/components/compreface/_meta.tsx
  docs/src/pages/components-explorer/components/darknet/_meta.tsx
  docs/src/pages/components-explorer/components/deepstack/_meta.tsx
  docs/src/pages/components-explorer/components/dlib/_meta.tsx
  docs/src/pages/components-explorer/components/ffmpeg/_meta.tsx
  docs/src/pages/components-explorer/components/gstreamer/_meta.tsx
  docs/src/pages/components-explorer/components/mog2/_meta.tsx
  docs/src/pages/components-explorer/components/mqtt/_meta.tsx
  docs/src/pages/components-explorer/components/nvr/_meta.tsx
  docs/src/pages/components-explorer/components/storage/_meta.tsx
  docs/src/pages/components-explorer/components/webserver/_meta.tsx
Due: none

update Ultralytics library to 8.4.2
  docs/src/pages/components-explorer/components/yolo/index.mdx
  requirements.txt
Due: azure-pipelines/azure-pipelines-wheels.yml

update yolo component to v8.4.2
  docs/src/pages/components-explorer/components/yolo/index.mdx
  requirements.txt
Due: azure-pipelines/azure-pipelines-wheels.yml

refator(backend): remove all direct usage of DataStream
  tests/components/nvr/test_nvr.py
  tests/conftest.py
  viseron/components/ffmpeg/camera.py
  viseron/components/gstreamer/camera.py
  viseron/components/nvr/const.py
  viseron/components/nvr/nvr.py
  viseron/components/webserver/stream_handler.py
  viseron/domains/camera/__init__.py
  viseron/domains/motion_detector/__init__.py
  viseron/domains/motion_detector/const.py
  viseron/domains/object_detector/__init__.py
  viseron/domains/object_detector/const.py
Due: azure-pipelines/azure-pipelines-viseron.yml

refactor(backend): log warnings in development mode for entities without unload
  viseron/const.py
  viseron/helpers/logs.py
  viseron/states.py
Due: azure-pipelines/azure-pipelines-viseron.yml

refactor(backend): add typing to listen_event
  viseron/__init__.py
Due: azure-pipelines/azure-pipelines-viseron.yml

feat(motion_detector): add unload support
  viseron/domains/motion_detector/__init__.py
  viseron/domains/motion_detector/binary_sensor.py
Due: azure-pipelines/azure-pipelines-viseron.yml

feat(ui/hooks): Add useFormChanges hook for tracking form value changes
  frontend/src/hooks/useFormChanges.ts
Due: none

refactor(backend): add domain registry
  viseron/const.py
  viseron/domain_registry.py
Due: azure-pipelines/azure-pipelines-viseron.yml

refactor(backend): keep track of entity owner component/domain
  viseron/__init__.py
  viseron/states.py
Due: azure-pipelines/azure-pipelines-viseron.yml

refactor(backend): create AbstractNVR
  viseron/__init__.py
  viseron/components/nvr/nvr.py
  viseron/domains/nvr/__init__.py
Due: azure-pipelines/azure-pipelines-viseron.yml

fix(states): remove from entity owner dict on unload
  viseron/states.py
Due: azure-pipelines/azure-pipelines-viseron.yml

style(ui/tuning): Replace Typography with FormHelperText for transform type description
  frontend/src/components/tuning/camera/VideoTransformDialog.tsx
Due: none

refactor(backend): start using DomainRegistry
  frontend/src/lib/api/cameras.ts
  tests/common.py
  tests/components/test__init__.py
  tests/test__init__.py
  viseron/__init__.py
  viseron/components/__init__.py
  viseron/components/nvr/nvr.py
  viseron/components/webserver/request_handler.py
  viseron/const.py
  viseron/domain_registry.py
  viseron/domains/camera/__init__.py
Due: azure-pipelines/azure-pipelines-viseron.yml

fix(domains): make registered domain event publish EventData
  viseron/components/ptz/__init__.py
  viseron/components/storage/__init__.py
  viseron/domain_registry.py
Due: azure-pipelines/azure-pipelines-viseron.yml

feat(domains): add helper to get reload order
  tests/domains/test__init__.py
  viseron/domains/__init__.py
Due: azure-pipelines/azure-pipelines-viseron.yml

test cases for yolo component
  tests/components/yolo/__init__.py
  tests/components/yolo/test_object_detector.py
  tests/components/yolo/yolo_fakes.py
Due: none

feat(domains): add unload_domain functionality
  tests/domains/test__init__.py
  viseron/components/background_subtractor/const.py
  viseron/components/darknet/const.py
  viseron/components/deepstack/const.py
  viseron/components/hailo/const.py
  viseron/components/yolo/const.py
  viseron/domain_registry.py
  viseron/domains/__init__.py
Due: azure-pipelines/azure-pipelines-viseron.yml

test cases for yolo component
  tests/components/yolo/__init__.py
  tests/components/yolo/common.py
  tests/components/yolo/test_object_detector.py
Due: none

Revert ptz so that the conflict can be resolved
  viseron/components/ptz/__init__.py
Due: azure-pipelines/azure-pipelines-viseron.yml

wip: Miscellaneous fix/refactor for ONVIF component and Actions API
  viseron/components/onvif/__init__.py
  viseron/components/onvif/const.py
  viseron/components/onvif/device.py
  viseron/components/onvif/imaging.py
  viseron/components/onvif/media.py
  viseron/components/ptz/__init__.py
  viseron/components/webserver/api/v1/actions/onvif/device.py
  viseron/components/webserver/api/v1/actions/onvif/imaging.py
  viseron/components/webserver/api/v1/actions/onvif/media.py
  viseron/components/webserver/api/v1/actions/onvif/ptz.py
Due: azure-pipelines/azure-pipelines-viseron.yml

style(ui/tuning): Update button label to reflect add/edit state
  frontend/src/components/tuning/camera/OSDTextDialog.tsx
  frontend/src/components/tuning/camera/VideoTransformDialog.tsx
Due: none

feat(ptz): Enhance OnvifPtzController integration with ptzSupport prop and update PlayerMenu rendering logic
  frontend/src/components/actions/ptz/OnvifPtzController.tsx
  frontend/src/components/player/PlayerMenu.tsx
Due: none

feat(ui/tuning): Add warning message handling and clean up alert display logic in QueryWrapper
  frontend/src/components/tuning/config/QueryWrapper.tsx
Due: none

feat(loading): Add GrowingSpinner component for loading indication
  frontend/src/components/loading/GrowingSpinner.tsx
Due: none

feat(ui/tuning): Add onUpdateSnapshot prop and enhance ONVIF service sections with isOnvifAutoConfig
  frontend/src/components/tuning/TuneConfigPanel.tsx
Due: none

fix(onvif): Update DNS search_domain type to list for improved flexibility
  viseron/components/onvif/const.py
  viseron/components/onvif/device.py
Due: azure-pipelines/azure-pipelines-viseron.yml

feat(onvif): Implement API hooks for ONVIF Component
  frontend/src/lib/api/actions/onvif/device.ts
  frontend/src/lib/api/actions/onvif/imaging.ts
  frontend/src/lib/api/actions/onvif/media.ts
  frontend/src/lib/api/actions/onvif/ptz.ts
  frontend/src/lib/api/actions/onvif/types.ts
Due: none

feat(dates): Add function to convert ONVIF DateTime object to timezone aware dayjs instance
  frontend/src/lib/helpers/dates.ts
Due: none

wip: Implement UI Helper for ONVIF in Camera Tuning
  frontend/src/components/tuning/onvif/DeviceServiceSection.tsx
  frontend/src/components/tuning/onvif/ImagingServiceSection.tsx
  frontend/src/components/tuning/onvif/MediaServiceSection.tsx
  frontend/src/components/tuning/onvif/PTZServiceSection.tsx
  frontend/src/components/tuning/onvif/device/DeviceActions.tsx
  frontend/src/components/tuning/onvif/device/DeviceDNS.tsx
  frontend/src/components/tuning/onvif/device/DeviceInformation.tsx
  frontend/src/components/tuning/onvif/device/DeviceNTP.tsx
  frontend/src/components/tuning/onvif/device/DeviceNetworkInterfaces.tsx
  frontend/src/components/tuning/onvif/device/DeviceNetworkProtocols.tsx
  frontend/src/components/tuning/onvif/device/DeviceNetworkSettings.tsx
  frontend/src/components/tuning/onvif/device/DeviceScopes.tsx
  frontend/src/components/tuning/onvif/device/DeviceServices.tsx
  frontend/src/components/tuning/onvif/device/DeviceSystemDateAndTime.tsx
  frontend/src/components/tuning/onvif/device/DeviceUsers.tsx
  frontend/src/components/tuning/onvif/device/index.ts
  frontend/src/components/tuning/onvif/imaging/ImagingMove.tsx
  frontend/src/components/tuning/onvif/imaging/ImagingPresets.tsx
  frontend/src/components/tuning/onvif/imaging/ImagingSettings.tsx
  frontend/src/components/tuning/onvif/imaging/index.ts
  frontend/src/components/tuning/onvif/media/MediaAudioEncoder.tsx
  frontend/src/components/tuning/onvif/media/MediaOSD.tsx
  frontend/src/components/tuning/onvif/media/MediaProfiles.tsx
  frontend/src/components/tuning/onvif/media/MediaVideoEncoder.tsx
  frontend/src/components/tuning/onvif/media/index.ts
  frontend/src/components/tuning/onvif/miscellaneousConfig.ts
  frontend/src/components/tuning/onvif/ptz/PTZMovements.tsx
  frontend/src/components/tuning/onvif/ptz/PTZPositions.tsx
  frontend/src/components/tuning/onvif/ptz/PTZSettings.tsx
  frontend/src/components/tuning/onvif/ptz/index.ts
Due: none

wip: Update docs for ONVIF Component
  docs/src/pages/components-explorer/components/onvif/config.json
  docs/src/pages/components-explorer/components/onvif/index.mdx
Due: none
