Repository roflcoopter/viseron: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/azure-pipelines-viseron.yml, azure-pipelines/azure-pipelines-wheels.yml

azure-pipelines/azure-pipelines-viseron.yml:

parameters:
  - name: noCache
    displayName: "Build without cache"
    type: boolean
    default: false

trigger:
  branches:
    include:
      - dev
  tags:
    include:
      - "*"
  paths:
    include:
      - viseron/*
      - rootfs/*
    exclude:
      - requirements.txt
pr: none

pool:
  vmImage: "ubuntu-latest"

resources:
  pipelines:
    - pipeline: viseronFFmpeg
      source: "Viseron FFmpeg"
      trigger:
        branches:
          - dev
    - pipeline: viseronOpenCV
      source: "Viseron OpenCV"
      trigger:
        branches:
          - dev
    - pipeline: viseronWheels
      source: "Viseron Wheels"
      trigger:
        branches:
          - dev
    - pipeline: viseronBase
      source: "Viseron Base"
      trigger:
        branches:
          - dev

stages:
  - stage: Build
    jobs:
      - template: templates/build.yaml
        parameters:
          image: viseron
          release: true
          noCache: ${{ parameters.noCache }}

  - stage: "Publish"
    jobs:
      - job: "ReleaseViseron"
        pool:
          vmImage: "ubuntu-latest"
        steps:
          - template: templates/release_version.yaml
            parameters:
              release: true
          - task: Docker@2
            displayName: Login to Docker Hub
            inputs:
              command: login
              containerRegistry: "Docker Hub"
          - script: |
              set -e
              export DOCKER_CLI_EXPERIMENTAL=enabled

              function create_manifest() {
                local release_version=$1

                docker manifest create roflcoopter/viseron:${release_version} \
                  roflcoopter/amd64-viseron:${release_version} \
                  roflcoopter/rpi3-viseron:${release_version} \
                  roflcoopter/aarch64-viseron:${release_version}

                docker manifest annotate roflcoopter/viseron:${release_version} \
                  roflcoopter/amd64-viseron:${release_version} \
                  --os linux --arch amd64

                docker manifest annotate roflcoopter/viseron:${release_version} \
                  roflcoopter/rpi3-viseron:${release_version} \
                  --os linux --arch arm --variant=v7

                docker manifest annotate roflcoopter/viseron:${release_version} \
                  roflcoopter/aarch64-viseron:${release_version} \
                  --os linux --arch arm64 --variant=v8

                docker manifest push --purge roflcoopter/viseron:${release_version}
                docker manifest inspect roflcoopter/viseron:${release_version}
              }

              docker pull roflcoopter/amd64-viseron:$(viseronVersion)
              docker pull roflcoopter/rpi3-viseron:$(viseronVersion)
              docker pull roflcoopter/aarch64-viseron:$(viseronVersion)

              # Create version tag
              create_manifest "$(viseronVersion)"
              if [ $(latestRelease) = true ] ; then
                create_manifest "latest"
              fi
            displayName: "Create multi-arch image"
          - task: Docker@2
            displayName: Logoff Docker Hub
            inputs:
              command: logout
              containerRegistry: "Docker Hub"
              condition: always()

azure-pipelines/azure-pipelines-wheels.yml:

parameters:
  - name: noCache
    displayName: "Build without cache"
    type: boolean
    default: false

trigger:
  branches:
    include:
      - dev
  paths:
    include:
      - requirements.txt
pr: none

pool:
  vmImage: "ubuntu-latest"

resources:
  pipelines:
    - pipeline: viserontools
      source: "Viseron tools"
      trigger:
        branches:
          - dev

jobs:
  - template: templates/build.yaml
    parameters:
      image: wheels
      noCache: ${{ parameters.noCache }}

Support AD NetBIOS user bind
  viseron/components/webserver/ldap_auth.py
Due: azure-pipelines/azure-pipelines-viseron.yml

Expose AD LDAP bind diagnostics
  viseron/components/webserver/ldap_auth.py
Due: azure-pipelines/azure-pipelines-viseron.yml

Resolve LDAP bind secret during test
  viseron/components/webserver/api/v1/ldap.py
Due: azure-pipelines/azure-pipelines-viseron.yml

Support LDAP default deny role
  frontend/src/lib/types.ts
  frontend/src/pages/settings/LDAP.tsx
  viseron/components/webserver/__init__.py
  viseron/components/webserver/api/v1/ldap.py
  viseron/components/webserver/const.py
  viseron/components/webserver/ldap_auth.py
Due: azure-pipelines/azure-pipelines-viseron.yml

Add camera access configuration UI
  frontend/src/App.tsx
  frontend/src/lib/api/cameraAccess.ts
  frontend/src/lib/types.ts
  frontend/src/pages/settings/CameraAccess.tsx
  frontend/src/pages/settings/index.tsx
  viseron/components/webserver/__init__.py
  viseron/components/webserver/api/v1/cameraaccess.py
  viseron/components/webserver/api/v1/events.py
  viseron/components/webserver/auth.py
  viseron/components/webserver/const.py
  viseron/components/webserver/ldap_auth.py
  viseron/components/webserver/request_handler.py
Due: azure-pipelines/azure-pipelines-viseron.yml

Treat empty camera assignments as unrestricted
  frontend/src/components/settings/user/UserDialog.tsx
Due: none

Improve live camera selection controls
  frontend/src/components/camera/CameraPickerDialog.tsx
  frontend/src/components/camera/useCameraStore.tsx
  frontend/src/components/player/view/ViewSpeedDial.tsx
  frontend/src/pages/Live.tsx
Due: none

Move live menu away from bottom overlays
  frontend/src/pages/Live.tsx
Due: none

Auto-hide setup banner on live view
  frontend/src/components/header/SetupErrorBanner.tsx
Due: none

Move live menu to top left
  frontend/src/pages/Live.tsx
Due: none

Back off offline camera retries
  viseron/components/ffmpeg/stream.py
  viseron/domains/__init__.py
Due: azure-pipelines/azure-pipelines-viseron.yml

Fix camera live fallback and browser auth
  viseron/components/webserver/api/handlers.py
  viseron/components/webserver/request_handler.py
  viseron/components/webserver/stream_handler.py
Due: azure-pipelines/azure-pipelines-viseron.yml

Add LDAP authentication support
  requirements.txt
  tests/components/webserver/test_auth.py
  viseron/components/webserver/__init__.py
  viseron/components/webserver/auth.py
  viseron/components/webserver/const.py
  viseron/components/webserver/ldap_auth.py
Due: azure-pipelines/azure-pipelines-viseron.yml, azure-pipelines/azure-pipelines-wheels.yml

Add LDAP configuration API
  viseron/components/webserver/api/v1/ldap.py
  viseron/components/webserver/ldap_auth.py
Due: azure-pipelines/azure-pipelines-viseron.yml

Expose LDAP test failure reason
  viseron/components/webserver/api/v1/ldap.py
  viseron/components/webserver/ldap_auth.py
Due: azure-pipelines/azure-pipelines-viseron.yml

Try AD user bind fallback names
  viseron/components/webserver/ldap_auth.py
Due: azure-pipelines/azure-pipelines-viseron.yml

Support LDAP default deny role
  viseron/components/webserver/__init__.py
  viseron/components/webserver/api/v1/ldap.py
  viseron/components/webserver/const.py
  viseron/components/webserver/ldap_auth.py
Due: azure-pipelines/azure-pipelines-viseron.yml

Add camera access backend enforcement
  viseron/components/webserver/__init__.py
  viseron/components/webserver/api/v1/cameraaccess.py
  viseron/components/webserver/api/v1/events.py
  viseron/components/webserver/auth.py
  viseron/components/webserver/const.py
  viseron/components/webserver/ldap_auth.py
  viseron/components/webserver/request_handler.py
Due: azure-pipelines/azure-pipelines-viseron.yml

Add camera configuration API
  viseron/components/webserver/api/v1/cameras.py
Due: azure-pipelines/azure-pipelines-viseron.yml

Support updating camera configuration
  viseron/components/webserver/api/v1/cameras.py
Due: azure-pipelines/azure-pipelines-viseron.yml

Track LDAP auth provider for camera access
  tests/components/webserver/test_auth.py
  viseron/components/webserver/auth.py
Due: azure-pipelines/azure-pipelines-viseron.yml

fix: save also token_hash when saving PATs
  viseron/components/webserver/auth.py
Due: azure-pipelines/azure-pipelines-viseron.yml

fix: respect detection_label in Telegram notifications
  tests/components/telegram/__init__.py
  tests/components/telegram/test__init__.py
  viseron/components/telegram/__init__.py
Due: azure-pipelines/azure-pipelines-viseron.yml

fix(webserver): prevent RCE via render_template
  viseron/__init__.py
  viseron/components/webserver/websocket_api/commands.py
Due: azure-pipelines/azure-pipelines-viseron.yml

fix(webserver): remove wildcard CORS from HLS playlists
  viseron/components/webserver/api/v1/hls.py
Due: azure-pipelines/azure-pipelines-viseron.yml

build: bump urllib3 and requests for CVE fixes
  requirements.txt
Due: azure-pipelines/azure-pipelines-wheels.yml

fix(webserver): scope recording/snapshot export to the camera
  viseron/components/webserver/websocket_api/commands.py
Due: azure-pipelines/azure-pipelines-viseron.yml

Harden storage tier moves for remote filesystems
  .pylintrc
  tests/components/storage/test_check_tier.py
  tests/components/storage/test_storage_subprocess.py
  tests/components/storage/test_tier_handler.py
  tests/components/storage/test_util.py
  viseron/components/storage/check_tier.py
  viseron/components/storage/jobs.py
  viseron/components/storage/storage_subprocess.py
  viseron/components/storage/tier_handler.py
  viseron/components/storage/util.py
  viseron/domains/camera/fragmenter.py
  viseron/domains/camera/recorder.py
Due: azure-pipelines/azure-pipelines-viseron.yml

Add temporary image publish workflow
  .github/workflows/build-test-image.yaml
Due: none

Allow no-device vainfo smoke output
  tests/container/test_binaries.py
Due: none

Copy segment init sidecar across tiers
  tests/components/storage/test_check_tier.py
  tests/components/storage/test_storage_subprocess.py
  tests/components/storage/test_tier_handler.py
  viseron/components/storage/__init__.py
  viseron/components/storage/check_tier.py
  viseron/components/storage/storage_subprocess.py
  viseron/components/storage/tier_handler.py
Due: azure-pipelines/azure-pipelines-viseron.yml

Handle atomic segment publishes for HLS
  tests/components/storage/test_tier_handler.py
  tests/components/webserver/api/v1/test_hls.py
  viseron/components/storage/tier_handler.py
  viseron/components/webserver/api/v1/hls.py
  viseron/domains/camera/fragmenter.py
  viseron/domains/camera/recorder.py
Due: azure-pipelines/azure-pipelines-viseron.yml

Handle duplicate storage file inserts idempotently
  tests/components/storage/test_tier_handler.py
  viseron/components/storage/tier_handler.py
Due: azure-pipelines/azure-pipelines-viseron.yml

Force tier checks during storage pressure recovery
  tests/components/storage/test_check_tier.py
  tests/components/storage/test_tier_handler.py
  viseron/components/storage/check_tier.py
  viseron/components/storage/storage_subprocess.py
  viseron/components/storage/tier_handler.py
  viseron/components/storage/util.py
  viseron/domains/camera/fragmenter.py
Due: azure-pipelines/azure-pipelines-viseron.yml

Avoid redirects for hinted tier files
  tests/components/webserver/test_tiered_file_handler.py
  viseron/components/webserver/tiered_file_handler.py
Due: azure-pipelines/azure-pipelines-viseron.yml
