Repository roflcoopter/viseron: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/azure-pipelines-viseron.yml, azure-pipelines/azure-pipelines-wheels.yml

azure-pipelines/azure-pipelines-viseron.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Build
    jobs:
    - template: templates/build.yaml
      parameters:
        image: viseron
        release: true
        noCache: ${{ parameters.noCache }}
  - stage: Publish
    jobs:
    - job: ReleaseViseron
      pool:
        vmImage: ubuntu-latest
      steps:
  ...

azure-pipelines/azure-pipelines-wheels.yml:
  pool:
    vmImage: ubuntu-latest
  jobs:
  - template: templates/build.yaml
    parameters:
      image: wheels
      noCache: ${{ parameters.noCache }}

fix(ruff): update config
  pyproject.toml
Due: none

test cases for AbstractObjectDetector
  tests/conftest.py
  tests/domains/object_detector/test_abstract_object_detector.py
Due: none

refactor(go2rtc): resolve magic-value-comparison
  viseron/components/go2rtc/__init__.py
Due: azure-pipelines/azure-pipelines-viseron.yml

refactor(gotify): resolve magic-value-comparison
  viseron/components/gotify/__init__.py
Due: azure-pipelines/azure-pipelines-viseron.yml

refactor(gstreamer): resolve magic-value-comparison
  viseron/components/gstreamer/camera.py
  viseron/components/gstreamer/const.py
Due: azure-pipelines/azure-pipelines-viseron.yml

refactor(storage/jobs): resolve magic-value-comparison
  viseron/components/storage/jobs.py
Due: azure-pipelines/azure-pipelines-viseron.yml

refactor(stream_handler): resolve magic-value-comparison
  viseron/components/webserver/stream_handler.py
Due: azure-pipelines/azure-pipelines-viseron.yml

refactor(webserver) resolve-magic-comparison
  viseron/components/webserver/const.py
  viseron/components/webserver/tiered_file_handler.py
Due: azure-pipelines/azure-pipelines-viseron.yml

refactor(domain/camera): resolve magic-value-comparison
  viseron/const.py
  viseron/domains/__init__.py
  viseron/domains/camera/__init__.py
  viseron/domains/camera/const.py
  viseron/domains/camera/fragmenter.py
  viseron/helpers/__init__.py
Due: azure-pipelines/azure-pipelines-viseron.yml

refactor(ruff): ignore line too long errors for specific lines
  scripts/gen_docs/__main__.py
  tests/components/webserver/common.py
  viseron/components/hailo/__init__.py
Due: azure-pipelines/azure-pipelines-viseron.yml

refactor(domain/camera): set full mp4box path using constant
  tests/domains/camera/test_fragmenter.py
  viseron/domains/camera/const.py
  viseron/domains/camera/fragmenter.py
Due: azure-pipelines/azure-pipelines-viseron.yml

ci(ruff): update config
  pyproject.toml
Due: none

refactor(viseron): format init file with ruff
  viseron/__init__.py
  viseron/components/data_stream/__init__.py
Due: azure-pipelines/azure-pipelines-viseron.yml

ci(ruff): disable ANN401
  pyproject.toml
  viseron/components/data_stream/__init__.py
  viseron/components/storage/jobs.py
Due: azure-pipelines/azure-pipelines-viseron.yml

refactor(viseron): change return type of add_entity
  viseron/__init__.py
  viseron/domains/camera/__init__.py
  viseron/domains/camera/entity/sensor.py
  viseron/states.py
Due: azure-pipelines/azure-pipelines-viseron.yml

fix(devcontainer): remove black extension
  .devcontainer/devcontainer.json
Due: none

refactor(tests): add noqa for unused arguments
  tests/common.py
  tests/components/test__init__.py
Due: none

refactor(pylint): ignore some errors in test files
  .pylintrc
  requirements_test.txt
Due: none

refactor: add noqa for import-outside-toplevel
  tests/components/codeprojectai/test_object_detector.py
  viseron/components/__init__.py
  viseron/components/storage/models.py
  viseron/components/storage/tier_handler.py
Due: azure-pipelines/azure-pipelines-viseron.yml

refactor: add noqa for S101
  viseron/components/discord/__init__.py
  viseron/components/webserver/auth.py
Due: azure-pipelines/azure-pipelines-viseron.yml

feat(domain/camera): support config reload
  viseron/components/telegram/__init__.py
  viseron/components/webserver/api/v1/camera.py
  viseron/domains/camera/__init__.py
  viseron/domains/camera/entity/binary_sensor.py
  viseron/domains/camera/entity/image.py
  viseron/domains/camera/entity/toggle.py
  viseron/domains/camera/fragmenter.py
  viseron/domains/camera/recorder.py
  viseron/helpers/child_process_worker.py
  viseron/helpers/entity/__init__.py
  viseron/helpers/entity/binary_sensor.py
  viseron/helpers/logs.py
Due: azure-pipelines/azure-pipelines-viseron.yml

refactor(ruff): handle T201 print statements
  pyproject.toml
  viseron/components/storage/alembic/versions/7b1f82f2ec39_move_clips_to_new_folder.py
  viseron/helpers/validators.py
Due: azure-pipelines/azure-pipelines-viseron.yml

refactor(logs): performance improvement in SensitiveInformationFilter
  viseron/helpers/logs.py
Due: azure-pipelines/azure-pipelines-viseron.yml

fix(reload): make sure failed deps are reloaded when an identifier is added
  tests/test_reload.py
  viseron/reload.py
Due: azure-pipelines/azure-pipelines-viseron.yml

fix(storage): increase sqlalchemy pool and overflow
  viseron/components/storage/const.py
Due: azure-pipelines/azure-pipelines-viseron.yml

feat(domains/pp): support config reload
  viseron/domains/post_processor/__init__.py
Due: azure-pipelines/azure-pipelines-viseron.yml

feat(domain/lpr) support config reload
  viseron/domains/license_plate_recognition/__init__.py
  viseron/domains/license_plate_recognition/binary_sensor.py
  viseron/domains/license_plate_recognition/sensor.py
Due: azure-pipelines/azure-pipelines-viseron.yml

feat(domain/image_classification) support config reload
  viseron/domains/image_classification/__init__.py
  viseron/domains/image_classification/sensor.py
Due: azure-pipelines/azure-pipelines-viseron.yml

fix(domain/object_detector) clean up schedule_periodic_update
  viseron/__init__.py
  viseron/domains/object_detector/sensor.py
Due: azure-pipelines/azure-pipelines-viseron.yml

fix(motion_detector): remove local _event_listeners
  viseron/domains/motion_detector/binary_sensor.py
Due: azure-pipelines/azure-pipelines-viseron.yml

fix:(post_processor): properly stop and join thread
  viseron/domains/post_processor/__init__.py
Due: azure-pipelines/azure-pipelines-viseron.yml

Merge conflicts
  viseron/components/telegram/__init__.py
  viseron/components/webserver/api/v1/camera.py
  viseron/domains/camera/__init__.py
Due: azure-pipelines/azure-pipelines-viseron.yml

fix(reload): reload deps of newly added identifiers
  tests/test_reload.py
  viseron/reload.py
Due: azure-pipelines/azure-pipelines-viseron.yml

fix(components): correctly pass vis to component unload method
  tests/components/test__init__.py
  viseron/components/__init__.py
Due: azure-pipelines/azure-pipelines-viseron.yml

refactor(background_subtractor): format with ruff
  viseron/components/background_subtractor/__init__.py
  viseron/components/background_subtractor/motion_detector.py
Due: azure-pipelines/azure-pipelines-viseron.yml

feat(compreface): support config reload
  viseron/components/compreface/__init__.py
  viseron/components/compreface/face_recognition.py
  viseron/domains/face_recognition/__init__.py
  viseron/domains/face_recognition/binary_sensor.py
Due: azure-pipelines/azure-pipelines-viseron.yml

feat(darknet): support config reload
  viseron/components/darknet/__init__.py
Due: azure-pipelines/azure-pipelines-viseron.yml

fixed typo in comment
  tests/domains/object_detector/test_abstract_object_detector.py
Due: none

feat(requirements): add aiofiles for async file operations
  requirements.txt
  requirements_test.txt
Due: azure-pipelines/azure-pipelines-wheels.yml

feat(discord): support config reload
  viseron/components/discord/__init__.py
Due: azure-pipelines/azure-pipelines-viseron.yml

Path conditions:
  azure-pipelines/azure-pipelines-viseron.yml: any of: viseron, rootfs, but not: requirements.txt
  azure-pipelines/azure-pipelines-wheels.yml: any of: requirements.txt
