Repository roflcoopter/viseron: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/azure-pipelines-viseron.yml, azure-pipelines/azure-pipelines-wheels.yml

azure-pipelines/azure-pipelines-viseron.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Build
    jobs:
    - template: templates/build.yaml
      parameters:
        image: viseron
        release: true
        noCache: ${{ parameters.noCache }}
  - stage: Publish
    jobs:
    - job: ReleaseViseron
      pool:
        vmImage: ubuntu-latest
      steps:
  ...

azure-pipelines/azure-pipelines-wheels.yml:
  pool:
    vmImage: ubuntu-latest
  jobs:
  - template: templates/build.yaml
    parameters:
      image: wheels
      noCache: ${{ parameters.noCache }}

add manual recording button to MJPEG player
  frontend/src/components/player/mjpegplayer/MjpegPlayer.tsx
Due: none

improve ffmpeg camera stopping mechanism
  viseron/components/ffmpeg/camera.py
  viseron/watchdog/process_watchdog.py
Due: azure-pipelines/azure-pipelines-viseron.yml

fix camera status text order
  frontend/src/components/camera/CameraNameOverlay.tsx
Due: none

use value comparison to check for existing query keys when invalidating
  frontend/src/lib/api/client.ts
Due: none

update cameras page screenshot
  docs/static/img/ui/cameras/main.png
Due: none

ignore fragmenting commands when camera is stopped
  viseron/domains/camera/fragmenter.py
Due: azure-pipelines/azure-pipelines-viseron.yml

add docs on live player context menu
  docs/docs/documentation/configuration/live_view.mdx
  docs/static/img/ui/live/context-menu.png
  frontend/e2e/tests/docs.spec.ts
  frontend/src/context/ColorModeContext.tsx
  frontend/src/pages/Live.tsx
Due: none

add recreate_db script
  .gitignore
  scripts/recreate_db/__init__.py
  scripts/recreate_db/__main__.py
Due: none

Bump onvif-python version 0.1.9 -> 0.2.9
  requirements.txt
Due: azure-pipelines/azure-pipelines-wheels.yml

refactor(ptz): Remove obsolete PTZ component files docs
  docs/src/pages/components-explorer/components/ptz/_meta.tsx
  docs/src/pages/components-explorer/components/ptz/config.json
  docs/src/pages/components-explorer/components/ptz/index.mdx
Due: none

refactor(ptz): Remove obsolete PTZ component files and constants
  viseron/components/ptz/__init__.py
  viseron/components/ptz/const.py
Due: azure-pipelines/azure-pipelines-viseron.yml

feat(docs): Add source code and github issue links, oldest and newest commit dates to the component header
  docs/package.json
  docs/src/generated/commitDates.json
  docs/src/lib/generateCommitDates.mjs
  docs/src/lib/getCommitsDates.ts
  docs/src/pages/components-explorer/_components/ComponentHeader/index.tsx
  docs/src/pages/components-explorer/_components/ComponentHeader/styles.module.css
  docs/src/pages/components-explorer/components/background_subtractor/_meta.tsx
  docs/src/pages/components-explorer/components/codeprojectai/_meta.tsx
  docs/src/pages/components-explorer/components/compreface/_meta.tsx
  docs/src/pages/components-explorer/components/darknet/_meta.tsx
  docs/src/pages/components-explorer/components/deepstack/_meta.tsx
  docs/src/pages/components-explorer/components/discord/_meta.tsx
  docs/src/pages/components-explorer/components/dlib/_meta.tsx
  docs/src/pages/components-explorer/components/edgetpu/_meta.tsx
  docs/src/pages/components-explorer/components/ffmpeg/_meta.tsx
  docs/src/pages/components-explorer/components/go2rtc/_meta.tsx
  docs/src/pages/components-explorer/components/gotify/_meta.tsx
  docs/src/pages/components-explorer/components/gstreamer/_meta.tsx
  docs/src/pages/components-explorer/components/hailo/_meta.tsx
  docs/src/pages/components-explorer/components/logger/_meta.tsx
  docs/src/pages/components-explorer/components/mog2/_meta.tsx
  docs/src/pages/components-explorer/components/mqtt/_meta.tsx
  docs/src/pages/components-explorer/components/nvr/_meta.tsx
  docs/src/pages/components-explorer/components/storage/_meta.tsx
  docs/src/pages/components-explorer/components/telegram/_meta.tsx
  docs/src/pages/components-explorer/components/webhook/_meta.tsx
  docs/src/pages/components-explorer/components/webserver/_meta.tsx
  docs/src/pages/components-explorer/components/yolo/_meta.tsx
  docs/src/types.ts
  docs/static/img/logos/hailo.svg
  docs/static/img/logos/hailo.webp
Due: none

feat(scripts): Adapt the docs generation script to the latest meta format
  scripts/gen_docs/const.py
Due: none

feat(docs): Add ONVIF docs and change Telegram docs
  docs/src/pages/components-explorer/components/onvif/_meta.tsx
  docs/src/pages/components-explorer/components/onvif/config.json
  docs/src/pages/components-explorer/components/onvif/index.mdx
  docs/src/pages/components-explorer/components/telegram/index.mdx
Due: none

feat(onvif): Create ONVIF components
  viseron/components/onvif/__init__.py
  viseron/components/onvif/const.py
  viseron/components/onvif/device.py
  viseron/components/onvif/imaging.py
  viseron/components/onvif/media.py
  viseron/components/onvif/ptz.py
  viseron/components/onvif/utils.py
  viseron/components/webserver/api/v1/actions/onvif/ptz.py
Due: azure-pipelines/azure-pipelines-viseron.yml

refactor(telegram): Refactor Telegram component to accommodate the changes of the ONVIF component
  viseron/components/telegram/__init__.py
  viseron/components/telegram/const.py
  viseron/components/telegram/ptz_control.py
Due: azure-pipelines/azure-pipelines-viseron.yml

refactor(webserver): Change how API endpoints are discovered
  viseron/components/webserver/api/__init__.py
Due: azure-pipelines/azure-pipelines-viseron.yml

feat(webserver/onvif): Add Actions API for ONVIF components
  viseron/components/webserver/api/v1/actions/onvif/base.py
  viseron/components/webserver/api/v1/actions/onvif/device.py
  viseron/components/webserver/api/v1/actions/onvif/imaging.py
  viseron/components/webserver/api/v1/actions/onvif/media.py
Due: azure-pipelines/azure-pipelines-viseron.yml

refactor: Run gen_docs for ONVIF component
  docs/src/pages/components-explorer/components/onvif/config.json
Due: none

replace object_id with default_entity_id for home assistant MQTT entities
  viseron/components/mqtt/homeassistant/entity.py
Due: azure-pipelines/azure-pipelines-viseron.yml

add api endpoints for user profile
  tests/components/webserver/api/v1/test_auth.py
  tests/components/webserver/api/v1/test_profile.py
  viseron/components/webserver/api/v1/auth.py
  viseron/components/webserver/api/v1/profile.py
  viseron/components/webserver/auth.py
Due: azure-pipelines/azure-pipelines-viseron.yml

add profile api support in frontend
  frontend/src/components/settings/user/UserDialog.tsx
  frontend/src/lib/api/profile.ts
  frontend/src/lib/types.ts
  frontend/tests/mocks/handlers.ts
  frontend/tests/utils/renderWithContext.tsx
Due: none

add profile page to change user preferences
  frontend/src/App.tsx
  frontend/src/components/header/Drawer.tsx
  frontend/src/lib/api/auth.ts
  frontend/src/pages/Profile.tsx
Due: none

feat(onvif): Add Media service implementation and docs
  docs/src/pages/components-explorer/components/onvif/config.json
  docs/src/pages/components-explorer/components/onvif/index.mdx
  viseron/components/onvif/__init__.py
  viseron/components/onvif/const.py
  viseron/components/onvif/media.py
Due: azure-pipelines/azure-pipelines-viseron.yml

refactor(onvif): Change how selected media profile is used
  viseron/components/onvif/imaging.py
  viseron/components/onvif/media.py
  viseron/components/onvif/ptz.py
Due: azure-pipelines/azure-pipelines-viseron.yml

feat(docs): Add ONVIF-compatible description for viseron
  docs/docs/documentation.md
  docs/src/pages/index.tsx
Due: none

feat(ui/onvif): Add ONVIF PTZ controls and handlers
  frontend/src/components/actions/ptz/OnvifPtzController.tsx
  frontend/src/components/actions/ptz/useOnvifPtzHandlers.ts
  frontend/src/components/player/PlayerMenu.tsx
  frontend/src/lib/api/actions/onvif/ptz.ts
  frontend/src/lib/api/actions/onvif/types.ts
  frontend/src/lib/types.ts
  frontend/src/pages/Live.tsx
Due: none

feat(webserver/onvif): Add Actions API for ONVIF Media service
  viseron/components/onvif/media.py
  viseron/components/webserver/api/v1/actions/onvif/media.py
Due: azure-pipelines/azure-pipelines-viseron.yml

style(ui): Run formatter for ONVIF PTZ Controls
  frontend/src/components/actions/ptz/OnvifPtzController.tsx
Due: none

style(ui): Change the view speed dial tooltip SX
  frontend/src/components/player/view/ViewSpeedDial.tsx
Due: none

fix(onvif): Change map constant from dict to list
  docs/src/pages/components-explorer/components/onvif/config.json
Due: none

fix(onvif): Change map constant from dict to list +2
  viseron/components/onvif/const.py
Due: azure-pipelines/azure-pipelines-viseron.yml

frontend: make sure all dates are handled by timezone aware dayjs objects
  frontend/src/components/events/DatePickerDialog.tsx
  frontend/src/components/events/FloatingMenu.tsx
  frontend/src/components/events/Layouts.tsx
  frontend/src/components/events/PlayerCard.tsx
  frontend/src/components/events/SnapshotEvent.tsx
  frontend/src/components/events/SyncManager.tsx
  frontend/src/components/events/events/EventTable.tsx
  frontend/src/components/events/events/EventTableItem.tsx
  frontend/src/components/events/timeline/HoverLine.tsx
  frontend/src/components/events/timeline/ProgressLine.tsx
  frontend/src/components/events/timeline/TimeTick.tsx
  frontend/src/components/events/timeline/TimelineTable.tsx
  frontend/src/components/events/utils.tsx
  frontend/src/components/player/hlsplayer/HlsPlayer.tsx
  frontend/src/components/recording/RecordingCard.tsx
  frontend/src/components/recording/RecordingCardDaily.tsx
  frontend/src/components/recording/RecordingCardLatest.tsx
  frontend/src/components/recording/RecordingHeader.tsx
  frontend/src/lib/api/client.ts
  frontend/src/lib/helpers.tsx
  frontend/src/lib/tokens.ts
  frontend/src/lib/websockets.ts
  frontend/src/pages/Events.tsx
  frontend/src/pages/recordings/CameraRecordings.tsx
  frontend/src/pages/recordings/CameraRecordingsDaily.tsx
Due: none

move is12HourFormat to date helpers
  frontend/src/components/events/ExportDialog.tsx
  frontend/src/lib/helpers/dates.ts
  frontend/src/lib/helpers/index.tsx
Due: none

move isDateFormat to date helpers
  frontend/src/components/header/Breadcrumbs.tsx
  frontend/src/lib/helpers/dates.ts
  frontend/src/lib/helpers/index.tsx
Due: none

move dayjs functions to date helpers
  frontend/src/components/events/DatePickerDialog.tsx
  frontend/src/components/events/SnapshotEvent.tsx
  frontend/src/components/events/SyncManager.tsx
  frontend/src/components/events/events/EventTable.tsx
  frontend/src/components/events/events/EventTableItem.tsx
  frontend/src/components/events/timeline/HoverLine.tsx
  frontend/src/components/events/timeline/ProgressLine.tsx
  frontend/src/components/events/timeline/TimeTick.tsx
  frontend/src/components/events/timeline/TimelineTable.tsx
  frontend/src/components/events/utils.tsx
  frontend/src/components/player/hlsplayer/HlsPlayer.tsx
  frontend/src/components/recording/RecordingCard.tsx
  frontend/src/components/recording/RecordingCardDaily.tsx
  frontend/src/components/recording/RecordingCardLatest.tsx
  frontend/src/components/recording/RecordingHeader.tsx
  frontend/src/lib/api/client.ts
  frontend/src/lib/helpers/dates.ts
  frontend/src/lib/helpers/index.tsx
  frontend/src/lib/tokens.ts
  frontend/src/lib/websockets.ts
  frontend/src/pages/Events.tsx
  frontend/src/pages/recordings/CameraRecordings.tsx
  frontend/src/pages/recordings/CameraRecordingsDaily.tsx
Due: none

fix imports of lib/helpers in MjpegPlayer and LivePlayer
  frontend/src/components/player/liveplayer/LivePlayer.tsx
  frontend/src/components/player/mjpegplayer/MjpegPlayer.tsx
Due: none

set dayjs default timezone in AuthContext
  frontend/src/context/AuthContext.tsx
Due: none

style(ui): Change start/stop camera toggle
  frontend/src/components/camera/CameraCard.tsx
  frontend/src/components/camera/CameraUptime.tsx
Due: none

style(ui): Change manual recording Fab style
  frontend/src/components/player/CustomControls.tsx
Due: none

Path conditions:
  azure-pipelines/azure-pipelines-viseron.yml: any of: viseron, rootfs, but not: requirements.txt
  azure-pipelines/azure-pipelines-wheels.yml: any of: requirements.txt
