Repository roflcoopter/viseron: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/azure-pipelines-viseron.yml, azure-pipelines/azure-pipelines-wheels.yml

azure-pipelines/azure-pipelines-viseron.yml:

parameters:
  - name: noCache
    displayName: "Build without cache"
    type: boolean
    default: false

trigger:
  branches:
    include:
      - dev
  tags:
    include:
      - "*"
  paths:
    include:
      - viseron/*
      - rootfs/*
    exclude:
      - requirements.txt
pr: none

pool:
  vmImage: "ubuntu-latest"

resources:
  pipelines:
    - pipeline: viseronFFmpeg
      source: "Viseron FFmpeg"
      trigger:
        branches:
          - dev
    - pipeline: viseronOpenCV
      source: "Viseron OpenCV"
      trigger:
        branches:
          - dev
    - pipeline: viseronWheels
      source: "Viseron Wheels"
      trigger:
        branches:
          - dev
    - pipeline: viseronBase
      source: "Viseron Base"
      trigger:
        branches:
          - dev

stages:
  - stage: Build
    jobs:
      - template: templates/build.yaml
        parameters:
          image: viseron
          release: true
          noCache: ${{ parameters.noCache }}

  - stage: "Publish"
    jobs:
      - job: "ReleaseViseron"
        pool:
          vmImage: "ubuntu-latest"
        steps:
          - template: templates/release_version.yaml
            parameters:
              release: true
          - task: Docker@2
            displayName: Login to Docker Hub
            inputs:
              command: login
              containerRegistry: "Docker Hub"
          - script: |
              set -e
              export DOCKER_CLI_EXPERIMENTAL=enabled

              function create_manifest() {
                local release_version=$1

                docker manifest create roflcoopter/viseron:${release_version} \
                  roflcoopter/amd64-viseron:${release_version} \
                  roflcoopter/rpi3-viseron:${release_version} \
                  roflcoopter/aarch64-viseron:${release_version}

                docker manifest annotate roflcoopter/viseron:${release_version} \
                  roflcoopter/amd64-viseron:${release_version} \
                  --os linux --arch amd64

                docker manifest annotate roflcoopter/viseron:${release_version} \
                  roflcoopter/rpi3-viseron:${release_version} \
                  --os linux --arch arm --variant=v7

                docker manifest annotate roflcoopter/viseron:${release_version} \
                  roflcoopter/aarch64-viseron:${release_version} \
                  --os linux --arch arm64 --variant=v8

                docker manifest push --purge roflcoopter/viseron:${release_version}
                docker manifest inspect roflcoopter/viseron:${release_version}
              }

              docker pull roflcoopter/amd64-viseron:$(viseronVersion)
              docker pull roflcoopter/rpi3-viseron:$(viseronVersion)
              docker pull roflcoopter/aarch64-viseron:$(viseronVersion)

              # Create version tag
              create_manifest "$(viseronVersion)"
              if [ $(latestRelease) = true ] ; then
                create_manifest "latest"
              fi
            displayName: "Create multi-arch image"
          - task: Docker@2
            displayName: Logoff Docker Hub
            inputs:
              command: logout
              containerRegistry: "Docker Hub"
              condition: always()

azure-pipelines/azure-pipelines-wheels.yml:

parameters:
  - name: noCache
    displayName: "Build without cache"
    type: boolean
    default: false

trigger:
  branches:
    include:
      - dev
  paths:
    include:
      - requirements.txt
pr: none

pool:
  vmImage: "ubuntu-latest"

resources:
  pipelines:
    - pipeline: viserontools
      source: "Viseron tools"
      trigger:
        branches:
          - dev

jobs:
  - template: templates/build.yaml
    parameters:
      image: wheels
      noCache: ${{ parameters.noCache }}

docs(webserver): document public URL configuration options
  docs/src/pages/components-explorer/components/webserver/config.json
  docs/src/pages/components-explorer/components/webserver/index.mdx
Due: none

docs(gotify): document public URL and image customization options
  docs/src/pages/components-explorer/components/gotify/config.json
  docs/src/pages/components-explorer/components/gotify/index.mdx
Due: none

fix: use system time for public image cleanup instead of UTC
  viseron/components/webserver/__init__.py
  viseron/helpers/__init__.py
Due: azure-pipelines/azure-pipelines-viseron.yml

feat(webserver): add download limit for public image URLs
  docs/src/pages/components-explorer/components/webserver/config.json
  docs/src/pages/components-explorer/components/webserver/index.mdx
  viseron/components/webserver/__init__.py
  viseron/components/webserver/api/v1/publicimage.py
  viseron/components/webserver/const.py
  viseron/components/webserver/public_image_token.py
Due: azure-pipelines/azure-pipelines-viseron.yml

feat(gotify): use remaining_downloads from webserver config
  viseron/components/gotify/__init__.py
Due: azure-pipelines/azure-pipelines-viseron.yml

refactor(ptz): migrate from onvif-zeep to onvif-python library
  requirements.txt
  viseron/components/ptz/__init__.py
Due: azure-pipelines/azure-pipelines-viseron.yml, azure-pipelines/azure-pipelines-wheels.yml

style(webserver): fix pylint line length in public URL description
  viseron/components/webserver/const.py
Due: azure-pipelines/azure-pipelines-viseron.yml

fix: support all allowed image extensions for public token lookup
  viseron/components/webserver/api/v1/publicimage.py
Due: azure-pipelines/azure-pipelines-viseron.yml

refactor(ptz): Bump "requests" version 2.31.0 → 2.32.0
  requirements.txt
Due: azure-pipelines/azure-pipelines-wheels.yml

style(viseron): Linting "viseron" folder
  viseron/components/discord/__init__.py
  viseron/components/gstreamer/pipeline.py
  viseron/components/ptz/__init__.py
  viseron/components/webserver/stream_handler.py
Due: azure-pipelines/azure-pipelines-viseron.yml

refactor(ptz): Update type hint for _ptz_services to use 'Any'
  viseron/components/ptz/__init__.py
Due: azure-pipelines/azure-pipelines-viseron.yml

feat(storage): add 'drain' option to tier configuration for file management
  docs/src/pages/components-explorer/components/ffmpeg/config.json
  docs/src/pages/components-explorer/components/gstreamer/config.json
  docs/src/pages/components-explorer/components/storage/config.json
  tests/components/storage/test__init__.py
  tests/components/storage/test_check_tier.py
  tests/components/storage/test_config.py
  viseron/components/storage/check_tier.py
  viseron/components/storage/config.py
  viseron/components/storage/const.py
  viseron/components/storage/storage_subprocess.py
  viseron/components/storage/tier_handler.py
Due: azure-pipelines/azure-pipelines-viseron.yml

ci: add azure-devops extension before logging in
  .github/workflows/ci.yaml
Due: none

upgrade node to 22.20.0
  azure-pipelines/.env
  azure-pipelines/docker-compose-build.yaml
  docker/Dockerfile
Due: none

Update PUBLIC_IMAGES_PATH to use CONFIG_DIR
  viseron/components/webserver/const.py
Due: azure-pipelines/azure-pipelines-viseron.yml

pin hls files to first tier
  viseron/components/storage/queries.py
  viseron/components/storage/tier_handler.py
  viseron/components/webserver/api/v1/hls.py
  viseron/components/webserver/tiered_file_handler.py
  viseron/domains/camera/__init__.py
Due: azure-pipelines/azure-pipelines-viseron.yml

get libhailort from docker instead of azure in ci
  .github/workflows/ci.yaml
Due: none

feat: reverse proxy subpath support
  docs/docs/documentation/installation.mdx
  frontend/404.html
  frontend/index.html
  frontend/src/components/camera/CameraCard.tsx
  frontend/src/components/player/hlsplayer/HlsPlayer.tsx
  frontend/src/lib/api/client.ts
  frontend/src/lib/websockets.ts
  frontend/src/pages/Live.tsx
  frontend/vite.config.ts
  rootfs/usr/local/nginx/conf/nginx.conf
  viseron/components/webserver/__init__.py
  viseron/components/webserver/api/handlers.py
  viseron/components/webserver/api/v1/events.py
  viseron/components/webserver/api/v1/hls.py
  viseron/components/webserver/api/v1/recordings.py
  viseron/components/webserver/const.py
  viseron/components/webserver/request_handler.py
  viseron/components/webserver/tiered_file_handler.py
  viseron/domains/camera/recorder.py
Due: azure-pipelines/azure-pipelines-viseron.yml

chore(vscode): update launch.json to use debugpy instead of python for debugging configurations
  .vscode/launch.json
Due: none

fix(storage): Add database readiness check and retry mechanism
  viseron/components/__init__.py
  viseron/components/storage/__init__.py
Due: azure-pipelines/azure-pipelines-viseron.yml

style(storage): Enforce 'pylint' and 'isort' standard
  viseron/components/storage/__init__.py
Due: azure-pipelines/azure-pipelines-viseron.yml

feat(ui/font): Add "IBM Plex Sans Variable" font and update typography settings
  frontend/package-lock.json
  frontend/package.json
  frontend/src/context/ColorModeContext.tsx
  frontend/src/index.css
Due: none

style(ui/drawer): Set minimum width for Icon and Title in Main Drawer
  frontend/src/components/header/Drawer.tsx
Due: none

feat(ui/live): Implement Fullscreen context and provider for fullscreen functionality
  frontend/src/components/camera/CameraPickerDialog.tsx
  frontend/src/components/player/CustomControls.tsx
  frontend/src/components/player/liveplayer/LivePlayer.tsx
  frontend/src/components/player/mjpegplayer/MjpegPlayer.tsx
  frontend/src/context/FullscreenContext.tsx
  frontend/src/layouts/PrivateLayout.tsx
  frontend/src/pages/Live.tsx
Due: none

feat(ui/player): Add virtual zoom and pan functionality with overlay for LivePlayer and MjpegPlayer
  frontend/src/components/player/ZoomPanOverlay.tsx
  frontend/src/components/player/hooks/useZoomPan.ts
  frontend/src/components/player/liveplayer/LivePlayer.tsx
  frontend/src/components/player/mjpegplayer/MjpegPlayer.tsx
Due: none

style(ui/header, drawer): Adjust ViseronLogo size for better alignment
  frontend/src/components/header/Drawer.tsx
  frontend/src/components/header/Header.tsx
Due: none

feat(ui): Replace Material-UI icons with Carbon icons in all UI components
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/ScrollToTop.tsx
  frontend/src/components/SearchField.tsx
  frontend/src/components/TextFieldItem.tsx
  frontend/src/components/camera/CameraCard.tsx
  frontend/src/components/camera/CameraNameOverlay.tsx
  frontend/src/components/editor/Editor.tsx
  frontend/src/components/events/FilterMenu.tsx
  frontend/src/components/events/FloatingMenu.tsx
  frontend/src/components/events/SnapshotEvent.tsx
  frontend/src/components/events/utils.tsx
  frontend/src/components/footer/Footer.tsx
  frontend/src/components/header/Breadcrumbs.tsx
  frontend/src/components/header/Drawer.tsx
  frontend/src/components/header/Header.tsx
  frontend/src/components/icons/LicensePlateRecognition.tsx
  frontend/src/components/player/CustomControls.tsx
  frontend/src/components/player/PlayerMenu.tsx
  frontend/src/components/recording/RecordingCard.tsx
  frontend/src/components/recording/RecordingCardDaily.tsx
  frontend/src/components/recording/RecordingCardLatest.tsx
  frontend/src/hooks/UseToast.tsx
  frontend/src/pages/Live.tsx
  frontend/src/pages/settings/TemplateEditor.tsx
  frontend/src/pages/settings/Users.tsx
  frontend/src/pages/settings/index.tsx
Due: none

feat(ui/drawer): Enhance link selection logic to handle external URLs and query parameters
  frontend/src/components/header/Drawer.tsx
Due: none

feat(ui/footer): Enhance footer layout and add GitHub and Components links with license info
  frontend/src/components/footer/Footer.tsx
Due: none

feat(ui/cameras): Add CameraUptime component and integrate it into CameraCard
  frontend/src/components/camera/CameraCard.tsx
  frontend/src/components/camera/CameraUptime.tsx
  frontend/src/hooks/UseCameraUptime.ts
Due: none

style(ui): Update Container components to include horizontal padding for improved layout consistency
  frontend/src/components/events/Layouts.tsx
  frontend/src/pages/Cameras.tsx
  frontend/src/pages/Configuration.tsx
  frontend/src/pages/Entities.tsx
  frontend/src/pages/Live.tsx
  frontend/src/pages/recordings/Recordings.tsx
  frontend/src/pages/settings/SystemEvents.tsx
  frontend/src/pages/settings/TemplateEditor.tsx
  frontend/src/pages/settings/Users.tsx
  frontend/src/pages/settings/index.tsx
Due: none

style(ui/editor): Adjust Stack padding and Editor height for improved layout
  frontend/src/components/editor/Editor.tsx
Due: none

feat(ui/live): Implement customizable grid layout with layout selector dialog
  frontend/src/components/camera/CameraPickerDialog.tsx
  frontend/src/components/camera/useCameraStore.tsx
  frontend/src/components/player/grid/CustomGridLayout.tsx
  frontend/src/components/player/grid/GridLayoutSelectorDialog.tsx
  frontend/src/components/player/grid/PlayerGrid.tsx
  frontend/src/components/player/grid/utils.tsx
  frontend/src/pages/Live.tsx
  frontend/src/stores/GridLayoutStore.ts
  frontend/src/types/GridLayoutTypes.ts
Due: none

feat(ui/camera): Add selection indicator to CameraPickerGrid with Chip component
  frontend/src/components/camera/CameraPickerGrid.tsx
Due: none

style(ui/footer): Adjust Footer margin and padding for improved layout
  frontend/src/components/footer/Footer.tsx
Due: none

style(ui/settings): Reduce minimum height of Settings page for better responsiveness
  frontend/src/pages/settings/index.tsx
Due: none

feat(ui/users): Add row numbering to users table
  frontend/src/pages/settings/Users.tsx
Due: none

fix(ui/recording): Wrap MutationIconButton in a span, this will be fix "A disabled element does not fire events" error
  frontend/src/components/recording/RecordingCardLatest.tsx
Due: none

feat(ui/live): Implement saved view based on selected cameras and selected layout
  frontend/src/components/camera/useCameraStore.tsx
  frontend/src/components/player/grid/GridLayoutSelectorDialog.tsx
  frontend/src/components/view/SaveViewDialog.tsx
  frontend/src/components/view/ViewSpeedDial.tsx
  frontend/src/pages/Live.tsx
  frontend/src/stores/GridLayoutStore.ts
  frontend/src/stores/ViewStore.ts
Due: none
