Repository roflcoopter/viseron: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/azure-pipelines-viseron.yml, azure-pipelines/azure-pipelines-wheels.yml

azure-pipelines/azure-pipelines-viseron.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Build
    jobs:
    - template: templates/build.yaml
      parameters:
        image: viseron
        release: true
        noCache: ${{ parameters.noCache }}
  - stage: Publish
    jobs:
    - job: ReleaseViseron
      pool:
        vmImage: ubuntu-latest
      steps:
  ...

azure-pipelines/azure-pipelines-wheels.yml:
  pool:
    vmImage: ubuntu-latest
  jobs:
  - template: templates/build.yaml
    parameters:
      image: wheels
      noCache: ${{ parameters.noCache }}

feat(docs): add camera snapshots to mocked api handler
  docs/static/img/ui/cameras/camera-toggle-button.png
  docs/static/img/ui/cameras/main.png
  frontend/tests/mocks/fixtures/camera1_snapshot.jpg
  frontend/tests/mocks/fixtures/camera2_snapshot.jpg
  frontend/tests/mocks/fixtures/camera3_snapshot.jpg
  frontend/tests/mocks/handlers.ts
Due: none

fix(docs): spelling errors
  docs/docs/documentation/configuration.md
  docs/docs/documentation/configuration/edit_config.md
Due: none

fix(domains): add as_dict to EventDomainRegisteredData
  viseron/domain_registry.py
Due: azure-pipelines/azure-pipelines-viseron.yml

feat(frontend): allow user to choose time format
  frontend/src/components/events/ExportDialog.tsx
  frontend/src/components/recording/RecordingHeaderDaily.tsx
  frontend/src/context/AuthContext.tsx
  frontend/src/lib/api/profile.ts
  frontend/src/lib/helpers/dates.ts
  frontend/src/lib/types.ts
  frontend/src/pages/Profile.tsx
  tests/components/webserver/api/v1/test_profile.py
  tests/components/webserver/test_auth.py
  viseron/components/webserver/api/v1/auth.py
  viseron/components/webserver/api/v1/profile.py
  viseron/components/webserver/auth.py
Due: azure-pipelines/azure-pipelines-viseron.yml

feat(logger): support config reload
  tests/components/logger/__init__.py
  tests/components/logger/test_init.py
  viseron/components/logger/__init__.py
  viseron/components/logger/const.py
  viseron/components/logger/logger_types.py
  viseron/viseron_types.py
Due: azure-pipelines/azure-pipelines-viseron.yml

Merge conflicts
  frontend/src/components/camera/CameraCard.tsx
  frontend/src/lib/helpers/dates.ts
  viseron/components/ptz/const.py
  viseron/components/telegram/const.py
  viseron/components/telegram/ptz_control.py
Due: azure-pipelines/azure-pipelines-viseron.yml

Merge conflicts
  frontend/src/components/camera/CameraCard.tsx
  frontend/src/lib/helpers/dates.ts
  viseron/components/onvif/const.py
  viseron/components/ptz/const.py
  viseron/components/telegram/const.py
  viseron/components/telegram/ptz_control.py
Due: azure-pipelines/azure-pipelines-viseron.yml

Run pre-commit
  viseron/components/onvif/__init__.py
  viseron/components/onvif/const.py
  viseron/components/onvif/imaging.py
  viseron/components/onvif/media.py
  viseron/components/telegram/const.py
  viseron/components/telegram/ptz_control.py
  viseron/components/telegram/utils.py
Due: azure-pipelines/azure-pipelines-viseron.yml

fix(types): Fix import issue for onvif in viseron types
  viseron/viseron_types.py
Due: azure-pipelines/azure-pipelines-viseron.yml

feat(ui/tuning): Add loading state handling and improve user icons in ONVIF Device section
  frontend/src/components/tuning/onvif/DeviceServiceSection.tsx
  frontend/src/components/tuning/onvif/device/DeviceActions.tsx
  frontend/src/components/tuning/onvif/device/DeviceUsers.tsx
Due: none

fix(frontend): correctly identify millisecond timestamps
  frontend/src/lib/helpers/dates.ts
Due: none

feat(azure): build using self hosted amd64 agent
  azure-pipelines/docker-compose-build.yaml
  azure-pipelines/templates/build.yaml
  docker/Dockerfile.azure
  docker/azure-agent-start.sh
Due: none

fix(azure): improve build process
  azure-pipelines/azure-pipelines-viseron.yml
  azure-pipelines/templates/build.yaml
  azure-pipelines/templates/cleanup.yaml
Due: none

fix(webserver): sanitize X-Ingress-Path
  rootfs/usr/local/nginx/conf/nginx.conf
  tests/components/webserver/test_request_handler.py
  viseron/components/webserver/__init__.py
  viseron/components/webserver/request_handler.py
  viseron/helpers/__init__.py
Due: azure-pipelines/azure-pipelines-viseron.yml

feat: support setting subpath thru X-Ingress-Path
  frontend/src/lib/api/client.ts
  rootfs/usr/local/nginx/conf/nginx.conf
  rootfs/usr/local/nginx/conf/proxy.conf
  viseron/components/webserver/request_handler.py
  viseron/components/webserver/tiered_file_handler.py
Due: azure-pipelines/azure-pipelines-viseron.yml

fix(stream_handler): confom to RFC2046
  viseron/components/webserver/stream_handler.py
Due: azure-pipelines/azure-pipelines-viseron.yml

feat(docker): handle a single data volume mapping
  rootfs/etc/cont-init.d/10-adduser
Due: azure-pipelines/azure-pipelines-viseron.yml

feat(frontend): manually parse mjpeg streams
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/player/mjpegplayer/MjpegPlayer.tsx
  frontend/src/components/player/mjpegplayer/useMjpegStreamMultipart.ts
Due: none

feat: add cctvQL component for natural-language camera queries
  viseron/components/cctvql/__init__.py
  viseron/components/cctvql/const.py
Due: azure-pipelines/azure-pipelines-viseron.yml

fix: store enrichments and add component documentation
  docs/src/pages/components-explorer/components/cctvql/_meta.tsx
  docs/src/pages/components-explorer/components/cctvql/config.json
  docs/src/pages/components-explorer/components/cctvql/index.mdx
  viseron/components/cctvql/__init__.py
  viseron/components/cctvql/const.py
  viseron/components/cctvql/event.py
Due: azure-pipelines/azure-pipelines-viseron.yml

feat(webserver): add backend support for PAT
  tests/components/webserver/api/v1/test_profile.py
  tests/components/webserver/common.py
  tests/components/webserver/test_auth.py
  viseron/components/webserver/api/v1/profile.py
  viseron/components/webserver/auth.py
  viseron/components/webserver/request_handler.py
Due: azure-pipelines/azure-pipelines-viseron.yml

feat(frontend): add frontend support for PAT
  frontend/src/components/profile/AccessTokens.tsx
  frontend/src/components/profile/DisplayName.tsx
  frontend/src/components/profile/Preferences.tsx
  frontend/src/components/profile/RevokeAll.tsx
  frontend/src/components/profile/UserInfo.tsx
  frontend/src/lib/api/profile.ts
  frontend/src/lib/types.ts
  frontend/src/pages/Profile.tsx
Due: none

feat(webserver): implement PAT validation for camera access
  rootfs/usr/local/nginx/conf/nginx.conf
  tests/components/webserver/api/test_handlers.py
  viseron/components/webserver/request_handler.py
Due: azure-pipelines/azure-pipelines-viseron.yml

fix(auth): throttle PAT last used
  viseron/components/webserver/auth.py
Due: azure-pipelines/azure-pipelines-viseron.yml

Resolve conflict in telegram component
  viseron/components/telegram/__init__.py
  viseron/components/telegram/ptz_control.py
Due: azure-pipelines/azure-pipelines-viseron.yml

Update commit dates for components
  docs/src/generated/commitDates.json
Due: none

fix: add dedicated token lock to prevent auth store race conditions
  viseron/components/webserver/auth.py
Due: azure-pipelines/azure-pipelines-viseron.yml

fix: snapshot dicts before serialization to prevent concurrent mutation
  viseron/components/webserver/auth.py
Due: azure-pipelines/azure-pipelines-viseron.yml

feat(auth): redact access tokens in query params from logs
  tests/components/webserver/test_request_handler.py
  viseron/components/webserver/request_handler.py
Due: azure-pipelines/azure-pipelines-viseron.yml

dispatch event when an unknown face is found
  viseron/domains/face_recognition/__init__.py
Due: azure-pipelines/azure-pipelines-viseron.yml

frontend: add interactive polygon mask and zone editor
  frontend/src/components/player/liveplayer/LivePlayer.tsx
  frontend/src/components/player/mjpegplayer/MjpegPlayer.tsx
  frontend/src/components/player/polygon-editor/PolygonCanvas.tsx
  frontend/src/components/player/polygon-editor/PolygonEditorButton.tsx
  frontend/src/components/player/polygon-editor/PolygonEditorOverlay.tsx
  frontend/src/components/player/polygon-editor/PolygonEditorToolbar.tsx
  frontend/src/components/player/polygon-editor/canvasRenderer.ts
  frontend/src/components/player/polygon-editor/configParser.ts
  frontend/src/components/player/polygon-editor/index.ts
  frontend/src/components/player/polygon-editor/types.ts
  frontend/src/components/player/polygon-editor/useCoordinateTransform.ts
  frontend/src/components/player/polygon-editor/usePolygonEditorStore.ts
  frontend/src/pages/Live.tsx
Due: none

Fix unknown_face_found to start expiry timer and track face in _faces
  viseron/domains/face_recognition/__init__.py
Due: azure-pipelines/azure-pipelines-viseron.yml

Add guided camera configuration wizard
  frontend/src/App.tsx
  frontend/src/components/camera/AddCameraDialog.tsx
  frontend/src/components/camera/NoCamerasConfigured.tsx
  frontend/src/lib/api/cameras.ts
  frontend/src/pages/settings/Cameras.tsx
  frontend/src/pages/settings/index.tsx
  viseron/components/webserver/api/v1/cameras.py
Due: azure-pipelines/azure-pipelines-viseron.yml

Add Mobotix camera preset
  frontend/src/components/camera/AddCameraDialog.tsx
Due: none

Add camera editing from settings
  frontend/src/components/camera/CameraEditDialog.tsx
  frontend/src/lib/api/cameras.ts
  frontend/src/pages/settings/Cameras.tsx
  viseron/components/webserver/api/v1/cameras.py
Due: azure-pipelines/azure-pipelines-viseron.yml

Add LDAP authentication support
  requirements.txt
  tests/components/webserver/test_auth.py
  viseron/components/webserver/__init__.py
  viseron/components/webserver/auth.py
  viseron/components/webserver/const.py
  viseron/components/webserver/ldap_auth.py
Due: azure-pipelines/azure-pipelines-viseron.yml, azure-pipelines/azure-pipelines-wheels.yml

Add LDAP settings UI
  frontend/src/App.tsx
  frontend/src/lib/api/ldap.ts
  frontend/src/lib/types.ts
  frontend/src/pages/settings/LDAP.tsx
  frontend/src/pages/settings/index.tsx
  viseron/components/webserver/api/v1/ldap.py
  viseron/components/webserver/ldap_auth.py
Due: azure-pipelines/azure-pipelines-viseron.yml

Fix LDAP settings build
  frontend/src/pages/settings/LDAP.tsx
Due: none

Expose LDAP test failure reason
  viseron/components/webserver/api/v1/ldap.py
  viseron/components/webserver/ldap_auth.py
Due: azure-pipelines/azure-pipelines-viseron.yml

Try AD user bind fallback names
  viseron/components/webserver/ldap_auth.py
Due: azure-pipelines/azure-pipelines-viseron.yml

Path conditions:
  azure-pipelines/azure-pipelines-viseron.yml: any of: viseron, rootfs, but not: requirements.txt
  azure-pipelines/azure-pipelines-wheels.yml: any of: requirements.txt
