Repository roflcoopter/viseron: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/azure-pipelines-viseron.yml, azure-pipelines/azure-pipelines-wheels.yml

azure-pipelines/azure-pipelines-viseron.yml:

parameters:
  - name: noCache
    displayName: "Build without cache"
    type: boolean
    default: false

trigger:
  branches:
    include:
      - dev
  tags:
    include:
      - "*"
  paths:
    include:
      - viseron/*
      - rootfs/*
    exclude:
      - requirements.txt
pr: none

pool:
  vmImage: "ubuntu-latest"

resources:
  pipelines:
    - pipeline: viseronFFmpeg
      source: "Viseron FFmpeg"
      trigger:
        branches:
          - dev
    - pipeline: viseronOpenCV
      source: "Viseron OpenCV"
      trigger:
        branches:
          - dev
    - pipeline: viseronWheels
      source: "Viseron Wheels"
      trigger:
        branches:
          - dev
    - pipeline: viseronBase
      source: "Viseron Base"
      trigger:
        branches:
          - dev

stages:
  - stage: Build
    jobs:
      - template: templates/build.yaml
        parameters:
          image: viseron
          release: true
          noCache: ${{ parameters.noCache }}

  - stage: "Publish"
    jobs:
      - job: "ReleaseViseron"
        pool:
          vmImage: "ubuntu-latest"
        steps:
          - template: templates/release_version.yaml
            parameters:
              release: true
          - task: Docker@2
            displayName: Login to Docker Hub
            inputs:
              command: login
              containerRegistry: "Docker Hub"
          - script: |
              set -e
              export DOCKER_CLI_EXPERIMENTAL=enabled

              function create_manifest() {
                local release_version=$1

                docker manifest create roflcoopter/viseron:${release_version} \
                  roflcoopter/amd64-viseron:${release_version} \
                  roflcoopter/rpi3-viseron:${release_version} \
                  roflcoopter/aarch64-viseron:${release_version}

                docker manifest annotate roflcoopter/viseron:${release_version} \
                  roflcoopter/amd64-viseron:${release_version} \
                  --os linux --arch amd64

                docker manifest annotate roflcoopter/viseron:${release_version} \
                  roflcoopter/rpi3-viseron:${release_version} \
                  --os linux --arch arm --variant=v7

                docker manifest annotate roflcoopter/viseron:${release_version} \
                  roflcoopter/aarch64-viseron:${release_version} \
                  --os linux --arch arm64 --variant=v8

                docker manifest push --purge roflcoopter/viseron:${release_version}
                docker manifest inspect roflcoopter/viseron:${release_version}
              }

              docker pull roflcoopter/amd64-viseron:$(viseronVersion)
              docker pull roflcoopter/rpi3-viseron:$(viseronVersion)
              docker pull roflcoopter/aarch64-viseron:$(viseronVersion)

              # Create version tag
              create_manifest "$(viseronVersion)"
              if [ $(latestRelease) = true ] ; then
                create_manifest "latest"
              fi
            displayName: "Create multi-arch image"
          - task: Docker@2
            displayName: Logoff Docker Hub
            inputs:
              command: logout
              containerRegistry: "Docker Hub"
              condition: always()

azure-pipelines/azure-pipelines-wheels.yml:

parameters:
  - name: noCache
    displayName: "Build without cache"
    type: boolean
    default: false

trigger:
  branches:
    include:
      - dev
  paths:
    include:
      - requirements.txt
pr: none

pool:
  vmImage: "ubuntu-latest"

resources:
  pipelines:
    - pipeline: viserontools
      source: "Viseron tools"
      trigger:
        branches:
          - dev

jobs:
  - template: templates/build.yaml
    parameters:
      image: wheels
      noCache: ${{ parameters.noCache }}

set hailo multi_process_service to false by default and fix config reference
  docs/src/pages/components-explorer/components/hailo/config.json
  viseron/components/hailo/__init__.py
  viseron/components/hailo/const.py
Due: azure-pipelines/azure-pipelines-viseron.yml

install docs in the devcontainer
  .devcontainer/setup.sh
Due: none

update development env instructions
  docs/docs/developers/backend/database.mdx
  docs/docs/developers/development_environment/setup.mdx
  docs/docs/developers/documentation.mdx
  docs/static/img/screenshots/Docs-developer-open-devcontainer.png
Due: none

use ruamel instead of PyYAML
  azure-pipelines/.env
  requirements.txt
  tests/test_config.py
  viseron/components/go2rtc/__init__.py
  viseron/config.py
Due: azure-pipelines/azure-pipelines-viseron.yml, azure-pipelines/azure-pipelines-wheels.yml

mypy ignore_missing_imports for ruamel
  .mypy.ini
Due: none

fix mypy error in gstreamer stream.py
  viseron/components/gstreamer/stream.py
Due: azure-pipelines/azure-pipelines-viseron.yml

style(ui/header): Adjust layout properties for responsive design
  frontend/src/components/header/Header.tsx
Due: none

style(ui/header): Enhance breadcrumb display with capitalization and new helper functions
  frontend/src/components/header/Breadcrumbs.tsx
  frontend/src/lib/helpers.tsx
Due: none

style(ui/footer): Adjust padding and margin for improved layout
  frontend/src/components/footer/Footer.tsx
Due: none

style(deps): Add @fontsource/dejavu-sans package and remove CDN in OSD Overlay
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/tuning/overlay/OSDTextsOverlay.tsx
Due: none

refactor(ui/tuning): Simplify component rendering logic in TuneComponentList
  frontend/src/components/tuning/TuneComponentList.tsx
Due: none

refactor(tuning/camera): Remove unused initial value
  frontend/src/components/tuning/camera/utils.ts
Due: none

refactor(webserver/api): Update label paths for Labels Handler in Tuning API
  viseron/components/webserver/api/v1/tuning/labels.py
Due: azure-pipelines/azure-pipelines-viseron.yml

refactor(webserver/api): Replace yaml with ruamel.yaml for better YAML handling
  viseron/components/webserver/api/v1/tune.py
Due: azure-pipelines/azure-pipelines-viseron.yml

refactor(webserver/api): Preserve YAML tags when updating camera configurations in Tuning API
  viseron/components/webserver/api/v1/tune.py
  viseron/components/webserver/api/v1/tuning/base.py
  viseron/components/webserver/api/v1/tuning/camera.py
  viseron/components/webserver/api/v1/tuning/face_recognition.py
  viseron/components/webserver/api/v1/tuning/license_plate_recognition.py
  viseron/components/webserver/api/v1/tuning/motion_detector.py
  viseron/components/webserver/api/v1/tuning/object_detector.py
Due: azure-pipelines/azure-pipelines-viseron.yml

style: Enforce pylint standard
  viseron/components/webserver/api/v1/tuning/base.py
Due: azure-pipelines/azure-pipelines-viseron.yml

style(ui/tuning): Adjust text measurement and box dimensions for better fit in OSDTextsOverlay
  frontend/src/components/tuning/overlay/OSDTextsOverlay.tsx
Due: none

add initial framework for updating ui screenshots with playwright
  .gitignore
  docs/docs/documentation.md
  docs/static/img/screenshots/Viseron-screenshot-cameras.png
  docs/static/img/ui/cameras/main.png
  frontend/e2e/playwright.config.ts
  frontend/e2e/playwright.setup.ts
  frontend/e2e/tests/docs.spec.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/TextFieldItem.tsx
  frontend/src/pages/Login.tsx
  frontend/tests/mocks/handlers.ts
  frontend/tests/mocks/wsHandlers.ts
  frontend/tsconfig.json
Due: none

playwright screenshot recordings page
  docs/docs/documentation.md
  docs/static/img/ui/cameras/main.png
  docs/static/img/ui/recordings/main.png
  frontend/e2e/playwright.config.ts
  frontend/e2e/playwright.setup.ts
  frontend/e2e/tests/docs.spec.ts
  frontend/src/lib/types.ts
  frontend/tests/mocks/handlers.ts
Due: none

limit vitest to only run on the tests folder
  frontend/vite.config.ts
Due: none

add documentation on manual recordings
  docs/docs/documentation/configuration/recordings.mdx
  docs/src/pages/components-explorer/components/mqtt/index.mdx
Due: none

fix syntax in mqtt docs
  docs/src/pages/components-explorer/components/mqtt/index.mdx
Due: none

add manual recording button to live player
  frontend/src/components/camera/CameraNameOverlay.tsx
  frontend/src/components/player/CustomControls.tsx
  frontend/src/components/player/liveplayer/LivePlayer.tsx
  frontend/src/lib/api/camera.ts
  frontend/src/lib/api/client.ts
  frontend/src/lib/types.ts
  frontend/tests/lib/helpers.test.ts
  frontend/tests/mocks/handlers.ts
Due: none

add error handling to manual recording api handler
  viseron/components/webserver/api/v1/camera.py
  viseron/domains/camera/__init__.py
Due: azure-pipelines/azure-pipelines-viseron.yml

add tests for manual recording api
  tests/components/webserver/api/v1/test_camera.py
Due: none

playwright screenshot live page and manual recording button
  docs/docs/documentation.md
  docs/docs/documentation/configuration/recordings.mdx
  docs/static/img/ui/live/main.png
  docs/static/img/ui/live/manual-recording-button.png
  frontend/e2e/playwright.config.ts
  frontend/e2e/playwright.setup.ts
  frontend/e2e/tests/docs.spec.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/player/CustomControls.tsx
Due: none

set max-old-space-size in azure builds to avoid out of memory issues
  azure-pipelines/templates/build.yaml
  docker/Dockerfile
Due: none

fix multiple useEffect errors
  frontend/src/components/ScrollToTop.tsx
  frontend/src/components/dialog/SessionExpired.tsx
  frontend/src/hooks/UseOnScreen.tsx
  frontend/src/hooks/UseTitle.tsx
  frontend/src/pages/Login.tsx
Due: none

fix: improve session expiration handling and cleanup logic
  frontend/src/components/dialog/SessionExpired.tsx
  frontend/src/layouts/PrivateLayout.tsx
  frontend/src/lib/tokens.ts
Due: none

log in without refreshing the entire page
  frontend/src/context/AuthContext.tsx
  frontend/src/pages/Login.tsx
Due: none

improve rendering performance on onboarding page
  frontend/src/pages/Onboarding.tsx
Due: none

make useToast return a stable object
  frontend/src/hooks/UseToast.tsx
Due: none

update tokens.test.ts
  frontend/tests/lib/tokens.test.ts
Due: none

reduce websocket reconnect attempts to 1 second
  frontend/src/lib/websockets.ts
  viseron/components/webserver/websocket_api/__init__.py
Due: azure-pipelines/azure-pipelines-viseron.yml

make tokens.test.ts less flaky
  frontend/tests/lib/tokens.test.ts
Due: none

support using an external postgres database
  docs/docs/developers/backend/database.mdx
  docs/docs/documentation/installation.mdx
  docs/src/pages/components-explorer/components/storage/index.mdx
  rootfs/etc/cont-finish.d/10-postgres
  rootfs/etc/cont-init.d/40-set-env-vars
  rootfs/etc/cont-init.d/80-postgres
  rootfs/etc/services.d/go2rtc/run
  rootfs/etc/services.d/nginx/run
  rootfs/etc/services.d/postgres/run
  rootfs/etc/services.d/viseron/run
  viseron/components/storage/const.py
Due: azure-pipelines/azure-pipelines-viseron.yml

create camera toggle api endoints
  tests/components/webserver/api/v1/test_camera.py
  viseron/components/webserver/api/v1/camera.py
Due: azure-pipelines/azure-pipelines-viseron.yml

add a switch to camera card to arm/disarm camera
  frontend/src/components/camera/CameraCard.tsx
  frontend/src/lib/api/camera.ts
Due: none

properly catch missing nvr when toggling camera
  viseron/components/webserver/api/v1/camera.py
  viseron/components/webserver/request_handler.py
Due: azure-pipelines/azure-pipelines-viseron.yml

remove unneeded manualRecordingLoading state from LivePlayer
  frontend/src/components/player/liveplayer/LivePlayer.tsx
Due: none
