Repository roflcoopter/viseron: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/azure-pipelines-viseron.yml, azure-pipelines/azure-pipelines-wheels.yml

azure-pipelines/azure-pipelines-viseron.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Build
    jobs:
    - template: templates/build.yaml
      parameters:
        image: viseron
        release: true
        noCache: ${{ parameters.noCache }}
  - stage: Publish
    jobs:
    - job: ReleaseViseron
      pool:
        vmImage: ubuntu-latest
      steps:
  ...

azure-pipelines/azure-pipelines-wheels.yml:
  pool:
    vmImage: ubuntu-latest
  jobs:
  - template: templates/build.yaml
    parameters:
      image: wheels
      noCache: ${{ parameters.noCache }}

Regen docs
  docs/src/pages/components-explorer/components/storage/config.json
Due: none

Fix default config in test
  tests/components/storage/test_config.py
Due: none

Fix flake8
  viseron/domains/camera/fragmenter.py
Due: azure-pipelines/azure-pipelines-viseron.yml

upload hailo wheels to azure artifacts
  azure-pipelines/azure-pipelines-tools.yml
  docker/Dockerfile.hailo
Due: none

install hailort in ci from azure artifacts
  .github/workflows/ci.yaml
  requirements_ci.txt
Due: none

publish libhailort to azure artifacts
  azure-pipelines/azure-pipelines-tools.yml
Due: none

Fix creating telegram notifier with no ptz set
  viseron/components/telegram/__init__.py
Due: azure-pipelines/azure-pipelines-viseron.yml

install libhailort in ci
  .github/workflows/ci.yaml
Due: none

extract timelapse frames to temp folder
  viseron/components/storage/tier_handler.py
  viseron/domains/camera/__init__.py
  viseron/domains/camera/fragmenter.py
Due: azure-pipelines/azure-pipelines-viseron.yml

fix timelapse interval when using seconds
  viseron/components/storage/util.py
Due: azure-pipelines/azure-pipelines-viseron.yml

add timelapse path to cleanup jobs
  viseron/components/storage/jobs.py
Due: azure-pipelines/azure-pipelines-viseron.yml

add docs on timelapse path
  docs/docs/documentation/installation.mdx
  docs/src/pages/components-explorer/components/ffmpeg/index.mdx
  docs/src/pages/components-explorer/components/hailo/index.mdx
  docs/src/pages/components-explorer/components/logger/index.mdx
Due: none

detect if running on rpi, currently no automatic hwaccel is done
  docker/aarch64/Dockerfile.ffmpeg
  rootfs/etc/cont-init.d/50-check-if-rpi
  viseron/components/gstreamer/stream.py
  viseron/const.py
Due: azure-pipelines/azure-pipelines-viseron.yml

fix object detector zone examples in the docs
  docs/src/pages/components-explorer/_domains/object_detector/index.mdx
  docs/src/pages/components-explorer/_domains/object_detector/zones.mdx
Due: none

add /ffmpeg/lib to path
  docker/Dockerfile
Due: none

fix instructions to store segments in memory
  docs/src/pages/components-explorer/components/ffmpeg/index.mdx
Due: none

build gpac in separate container
  azure-pipelines/azure-pipelines-tools.yml
  azure-pipelines/docker-compose-build.yaml
  azure-pipelines/templates/build.yaml
  docker/Dockerfile
  docker/Dockerfile.gpac
  docs/docs/developers/docker.mdx
Due: none

allow multiple processes to share hailo device
  docs/src/pages/components-explorer/components/hailo/config.json
  viseron/components/hailo/__init__.py
  viseron/components/hailo/const.py
Due: azure-pipelines/azure-pipelines-viseron.yml

remove unused dep in requirements.txt
  requirements.txt
Due: azure-pipelines/azure-pipelines-wheels.yml

ignore error in UniversalPackages
  azure-pipelines/azure-pipelines-tools.yml
Due: none

upgrade hls.js to 1.6.13
  frontend/package-lock.json
  frontend/package.json
Due: none

upgrade to react 19
  frontend/package-lock.json
  frontend/package.json
  frontend/src/404.tsx
  frontend/src/components/buttons/MutationIconButton.tsx
  frontend/src/components/camera/CameraCard.tsx
  frontend/src/components/editor/Editor.tsx
  frontend/src/components/events/Layouts.tsx
  frontend/src/components/events/PlayerCard.tsx
  frontend/src/components/events/events/EventTable.tsx
  frontend/src/components/events/timeline/Item.tsx
  frontend/src/components/events/timeline/ProgressLine.tsx
  frontend/src/components/events/timeline/Row.tsx
  frontend/src/components/events/timeline/TimelineTable.tsx
  frontend/src/components/events/timeline/VirtualList.tsx
  frontend/src/components/player/grid/PlayerGrid.tsx
  frontend/src/components/player/grid/utils.tsx
  frontend/src/components/player/hlsplayer/HlsPlayer.tsx
  frontend/src/components/player/liveplayer/LivePlayer.tsx
  frontend/src/components/player/liveplayer/custom-elements.d.ts
  frontend/src/components/player/mjpegplayer/MjpegPlayer.tsx
  frontend/src/components/player/videoplayer/VideoPlayerPlaceholder.tsx
  frontend/src/context/ViseronContext.tsx
  frontend/src/hooks/UseControlledInterval.tsx
  frontend/src/hooks/UseToast.tsx
  frontend/src/pages/Live.tsx
  frontend/src/pages/Login.tsx
Due: none

upgrade mui to v7
  frontend/package.json
  frontend/src/components/TextFieldItem.tsx
  frontend/src/components/buttons/LoadingButton.tsx
  frontend/src/components/camera/CameraPickerGrid.tsx
  frontend/src/components/editor/Editor.tsx
  frontend/src/components/events/DatePickerDialog.tsx
  frontend/src/components/events/Layouts.tsx
  frontend/src/components/events/SnapshotEvent.tsx
  frontend/src/components/events/events/EventTableItem.tsx
  frontend/src/components/loading/Loading.tsx
  frontend/src/components/player/grid/PlayerGrid.tsx
  frontend/src/pages/Cameras.tsx
  frontend/src/pages/Login.tsx
  frontend/src/pages/Onboarding.tsx
  frontend/src/pages/recordings/CameraRecordings.tsx
  frontend/src/pages/recordings/CameraRecordingsDaily.tsx
  frontend/src/pages/recordings/Recordings.tsx
  frontend/src/pages/settings/TemplateEditor.tsx
Due: none

upgrade react toastify to v11
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/index.css
Due: none

upgrade all frontend deps to latest
  frontend/package.json
Due: none

feat(webserver): Add public image URL system with token-based access
  viseron/components/webserver/__init__.py
  viseron/components/webserver/api/v1/publicimage.py
  viseron/components/webserver/const.py
  viseron/components/webserver/public_image_token.py
Due: azure-pipelines/azure-pipelines-viseron.yml

feat(gotify): Add public URL support and configurable image quality
  viseron/components/gotify/__init__.py
  viseron/components/gotify/const.py
Due: azure-pipelines/azure-pipelines-viseron.yml

fix: resolve linting and type checking errors
  viseron/components/webserver/__init__.py
  viseron/components/webserver/api/v1/publicimage.py
Due: azure-pipelines/azure-pipelines-viseron.yml

fix: resolve pylint line-too-long warnings
  viseron/components/webserver/__init__.py
  viseron/components/webserver/api/v1/publicimage.py
Due: azure-pipelines/azure-pipelines-viseron.yml

fix: resolve pylint warnings in Gotify component
  viseron/components/gotify/__init__.py
  viseron/components/gotify/const.py
Due: azure-pipelines/azure-pipelines-viseron.yml

fix link to configuration in FailedCameraCard
  frontend/src/components/camera/FailedCameraCard.tsx
Due: none

enable react compiler
  frontend/package-lock.json
  frontend/package.json
  frontend/vite.config.ts
Due: none

use img element instead of Image component for timeline thumbnails
  frontend/src/components/events/SnapshotEvent.tsx
Due: none

only render timeline thumbnails when scrolling stops
  frontend/src/components/events/SnapshotEvent.tsx
  frontend/src/components/events/timeline/VirtualList.tsx
Due: none

reduce rerenders of timeline items when available timespans changes
  frontend/src/components/events/SnapshotEvent.tsx
  frontend/src/components/events/timeline/Item.tsx
  frontend/src/components/events/timeline/Row.tsx
  frontend/src/components/events/utils.tsx
Due: none

adjust start timestamp in loadSource to allow seeking backwards for context
  frontend/src/components/player/hlsplayer/HlsPlayer.tsx
Due: none

ignore BUFFER_STALLED_ERROR in HlsPLayer
  frontend/src/components/player/hlsplayer/HlsPlayer.tsx
Due: none

play first player if no hls playlists are loaded
  frontend/src/components/events/SyncManager.tsx
Due: none

Fix HAILO8_DEFAULT_URL to be a valid URL
  viseron/components/hailo/const.py
Due: azure-pipelines/azure-pipelines-viseron.yml

Path conditions:
  azure-pipelines/azure-pipelines-viseron.yml: any of: viseron, rootfs, but not: requirements.txt
  azure-pipelines/azure-pipelines-wheels.yml: any of: requirements.txt
