Repository roflcoopter/viseron: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines/azure-pipelines-viseron.yml, azure-pipelines/azure-pipelines-wheels.yml

azure-pipelines/azure-pipelines-viseron.yml:

parameters:
  - name: noCache
    displayName: "Build without cache"
    type: boolean
    default: false

trigger:
  branches:
    include:
      - dev
  tags:
    include:
      - "*"
  paths:
    include:
      - viseron/*
      - rootfs/*
    exclude:
      - requirements.txt
pr: none

pool:
  vmImage: "ubuntu-latest"

resources:
  pipelines:
    - pipeline: viseronFFmpeg
      source: "Viseron FFmpeg"
      trigger:
        branches:
          - dev
    - pipeline: viseronOpenCV
      source: "Viseron OpenCV"
      trigger:
        branches:
          - dev
    - pipeline: viseronWheels
      source: "Viseron Wheels"
      trigger:
        branches:
          - dev
    - pipeline: viseronBase
      source: "Viseron Base"
      trigger:
        branches:
          - dev

stages:
  - stage: Build
    jobs:
      - template: templates/build.yaml
        parameters:
          image: viseron
          release: true
          noCache: ${{ parameters.noCache }}

  - stage: "Publish"
    jobs:
      - job: "ReleaseViseron"
        pool:
          vmImage: "ubuntu-latest"
        steps:
          - template: templates/release_version.yaml
            parameters:
              release: true
          - task: Docker@2
            displayName: Login to Docker Hub
            inputs:
              command: login
              containerRegistry: "Docker Hub"
          - script: |
              set -e
              export DOCKER_CLI_EXPERIMENTAL=enabled

              function create_manifest() {
                local release_version=$1

                docker manifest create roflcoopter/viseron:${release_version} \
                  roflcoopter/amd64-viseron:${release_version} \
                  roflcoopter/rpi3-viseron:${release_version} \
                  roflcoopter/aarch64-viseron:${release_version}

                docker manifest annotate roflcoopter/viseron:${release_version} \
                  roflcoopter/amd64-viseron:${release_version} \
                  --os linux --arch amd64

                docker manifest annotate roflcoopter/viseron:${release_version} \
                  roflcoopter/rpi3-viseron:${release_version} \
                  --os linux --arch arm --variant=v7

                docker manifest annotate roflcoopter/viseron:${release_version} \
                  roflcoopter/aarch64-viseron:${release_version} \
                  --os linux --arch arm64 --variant=v8

                docker manifest push --purge roflcoopter/viseron:${release_version}
                docker manifest inspect roflcoopter/viseron:${release_version}
              }

              docker pull roflcoopter/amd64-viseron:$(viseronVersion)
              docker pull roflcoopter/rpi3-viseron:$(viseronVersion)
              docker pull roflcoopter/aarch64-viseron:$(viseronVersion)

              # Create version tag
              create_manifest "$(viseronVersion)"
              if [ $(latestRelease) = true ] ; then
                create_manifest "latest"
              fi
            displayName: "Create multi-arch image"
          - task: Docker@2
            displayName: Logoff Docker Hub
            inputs:
              command: logout
              containerRegistry: "Docker Hub"
              condition: always()

azure-pipelines/azure-pipelines-wheels.yml:

parameters:
  - name: noCache
    displayName: "Build without cache"
    type: boolean
    default: false

trigger:
  branches:
    include:
      - dev
  paths:
    include:
      - requirements.txt
pr: none

pool:
  vmImage: "ubuntu-latest"

resources:
  pipelines:
    - pipeline: viserontools
      source: "Viseron tools"
      trigger:
        branches:
          - dev

jobs:
  - template: templates/build.yaml
    parameters:
      image: wheels
      noCache: ${{ parameters.noCache }}

improve perfomance of events page date picker
  frontend/src/components/events/DatePickerDialog.tsx
  frontend/src/context/ViseronContext.tsx
  frontend/src/lib/api/client.ts
  frontend/src/lib/api/events.ts
  frontend/src/lib/types.ts
  frontend/tests/components/events/DatePicker.test.tsx
  tests/components/webserver/api/v1/test_events.py
  viseron/components/webserver/api/v1/events.py
Due: azure-pipelines/azure-pipelines-viseron.yml

reduce image size for amd64 by not installing CUDA libraries
  azure-pipelines/docker-compose-build.yaml
Due: none

smarter calculation of when to end an hls playlist
  frontend/src/components/player/hlsplayer/HlsPlayer.tsx
  tests/components/webserver/api/v1/test_hls.py
  viseron/components/webserver/api/v1/hls.py
  viseron/helpers/__init__.py
Due: azure-pipelines/azure-pipelines-viseron.yml

add additional error message for tier check worker
  viseron/components/storage/check_tier.py
Due: azure-pipelines/azure-pipelines-viseron.yml

make sure each instance of QueueManager gets unique queues
  manager.py
Due: none

add page to view dispatched system events
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/components/header/Breadcrumbs.tsx
  frontend/src/pages/settings/SystemEvents.tsx
  frontend/src/pages/settings/index.tsx
Due: none

suggest dispatched events in the system event viewer
  frontend/src/lib/api/system.ts
  frontend/src/lib/types.ts
  frontend/src/pages/settings/SystemEvents.tsx
  tests/components/webserver/api/v1/test_system.py
  viseron/__init__.py
  viseron/components/storage/const.py
  viseron/components/storage/tier_handler.py
  viseron/components/webserver/api/v1/system.py
  viseron/components/webserver/websocket_api/commands.py
  viseron/domains/camera/fragmenter.py
  viseron/events.py
Due: azure-pipelines/azure-pipelines-viseron.yml

go2rtc component doc updates
  docs/src/pages/components-explorer/components/go2rtc/config.json
  docs/src/pages/components-explorer/components/go2rtc/index.mdx
  viseron/components/go2rtc/const.py
Due: azure-pipelines/azure-pipelines-viseron.yml

fix jetson nano ffmpeg builds
  azure-pipelines/.env
  azure-pipelines/docker-compose-build.yaml
  docker/jetson-nano/Dockerfile.base
Due: none

add jinja2 templating engine
  .mypy.ini
  requirements.txt
  scripts/gen_docs/__main__.py
  tests/helpers/test_template.py
  viseron/events.py
  viseron/helpers/template.py
  viseron/helpers/validators.py
  viseron/states.py
Due: azure-pipelines/azure-pipelines-viseron.yml, azure-pipelines/azure-pipelines-wheels.yml

implement webhook component
  docs/src/pages/components-explorer/components/webhook/_meta.tsx
  docs/src/pages/components-explorer/components/webhook/config.json
  docs/src/pages/components-explorer/components/webhook/index.mdx
  scripts/gen_docs/__main__.py
  viseron/components/webhook/__init__.py
  viseron/components/webhook/const.py
  viseron/helpers/validators.py
Due: azure-pipelines/azure-pipelines-viseron.yml

add docs on templating
  docs/docs/documentation/configuration/system_events.md
  docs/docs/documentation/configuration/templating.md
  docs/package-lock.json
  docs/sidebars.ts
  docs/static/img/screenshots/Viseron-Docs-jinja-template.png
  docs/static/img/screenshots/Viseron-Settings-system-event-viewer.png
Due: none

improve shutdown sequence when DomanNotReady is raised
  tests/components/webserver/common.py
  tests/test__init__.py
  viseron/__init__.py
  viseron/__main__.py
  viseron/components/__init__.py
Due: azure-pipelines/azure-pipelines-viseron.yml

add link to templating docs from component configuration generator
  docs/src/pages/components-explorer/_components/ComponentConfiguration/index.tsx
Due: none

improve startup retry logic for ffprobe
  viseron/components/ffmpeg/camera.py
  viseron/components/ffmpeg/stream.py
  viseron/components/gstreamer/camera.py
  viseron/components/gstreamer/stream.py
Due: azure-pipelines/azure-pipelines-viseron.yml

remove motion contours from motion detected event
  viseron/domains/motion_detector/__init__.py
Due: azure-pipelines/azure-pipelines-viseron.yml

add pcm_s16be to unsupported codecs
  viseron/components/ffmpeg/stream.py
Due: azure-pipelines/azure-pipelines-viseron.yml

attempt to free up space on azure agent
  azure-pipelines/templates/build.yaml
Due: none

fix race condition when stopping and starting a camera rapidly
  viseron/components/ffmpeg/camera.py
Due: azure-pipelines/azure-pipelines-viseron.yml

add websocket command to render template
  viseron/__init__.py
  viseron/components/webhook/__init__.py
  viseron/components/webserver/__init__.py
  viseron/components/webserver/websocket_api/commands.py
  viseron/helpers/template.py
Due: azure-pipelines/azure-pipelines-viseron.yml

add jinja template editor
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/hooks/useDebouncedTemplateRender.ts
  frontend/src/lib/commands.ts
  frontend/src/lib/messages.ts
  frontend/src/pages/settings/TemplateEditor.tsx
  frontend/src/pages/settings/index.tsx
Due: none

create tests for useDebouncedTemplateRender
  frontend/tests/components/header/Header.test.tsx
  frontend/tests/hooks/useDebouncedTemplateRender.test.tsx
  frontend/tests/utils/renderWithContext.tsx
Due: none

add template editor screenshot to docs
  docs/docs/documentation/configuration/templating.md
  docs/static/img/screenshots/Viseron-Settings-template-editor.png
Due: none

log template errors as debug messages
  viseron/components/webserver/websocket_api/commands.py
Due: azure-pipelines/azure-pipelines-viseron.yml

fix call signature in template tests
  tests/helpers/test_template.py
Due: none

make all processes and subprocs create new sessions
  viseron/components/ffmpeg/stream.py
  viseron/components/storage/storage_subprocess.py
  viseron/helpers/child_process_worker.py
  viseron/watchdog/process_watchdog.py
  viseron/watchdog/subprocess_watchdog.py
Due: azure-pipelines/azure-pipelines-viseron.yml

give file moves and deletes priority over tier check in storage subprocess
  docs/src/pages/components-explorer/components/storage/config.json
  viseron/components/storage/config.py
  viseron/components/storage/storage_subprocess.py
Due: azure-pipelines/azure-pipelines-viseron.yml

add cleanup job that checks for files with zero size
  viseron/components/storage/const.py
  viseron/components/storage/jobs.py
Due: azure-pipelines/azure-pipelines-viseron.yml

run aarch64 builds on self hosted agent
  .dockerignore
  azure-pipelines/docker-compose-build.yaml
  azure-pipelines/templates/build.yaml
Due: none

self hosted aarch64 azure agent
  .gitignore
  azure-pipelines/templates/build.yaml
  docker/azure-agent-start.sh
  docker/rpi5/Dockerfile.azure
Due: none

conditional cross builds for aarch64 based devices
  docker/Dockerfile
  docker/Dockerfile.wheels
  docker/aarch64/Dockerfile.dlib
  docker/aarch64/Dockerfile.ffmpeg
  docker/aarch64/Dockerfile.opencv
  docker/jetson-nano/Dockerfile.darknet
  docker/jetson-nano/Dockerfile.dlib
  docker/jetson-nano/Dockerfile.ffmpeg
  docker/jetson-nano/Dockerfile.opencv
  docker/jetson-nano/Dockerfile.opencv.part1
  docker/jetson-nano/Dockerfile.python
  docker/jetson-nano/Dockerfile.wheels
Due: none

hailo8 binary and wheel build
  azure-pipelines/.env
  azure-pipelines/azure-pipelines-tools.yml
  azure-pipelines/docker-compose-build.yaml
  docker/Dockerfile.hailo
  docker/aarch64/Dockerfile.base
  docker/amd64-cuda/Dockerfile.base
  docker/amd64/Dockerfile.base
Due: none

add support for Url and PathExists in gen_docs
  docs/src/pages/components-explorer/_components/ComponentConfiguration/index.tsx
  scripts/gen_docs/__main__.py
  viseron/helpers/validators.py
Due: azure-pipelines/azure-pipelines-viseron.yml

add hailo component
  .mypy.ini
  docs/src/pages/components-explorer/components/hailo/_meta.tsx
  docs/src/pages/components-explorer/components/hailo/config.json
  docs/src/pages/components-explorer/components/hailo/index.mdx
  viseron/components/hailo/__init__.py
  viseron/components/hailo/const.py
  viseron/components/hailo/object_detector.py
  viseron/components/hailo/utils.py
  viseron/domains/object_detector/const.py
Due: azure-pipelines/azure-pipelines-viseron.yml

bump docker base version to 1.9.0
  azure-pipelines/.env
Due: none

bump wheels version to 1.8
  azure-pipelines/.env
Due: none

Implement timelapse frame extractions
  viseron/components/storage/__init__.py
  viseron/components/storage/config.py
  viseron/components/storage/const.py
  viseron/components/storage/tier_handler.py
  viseron/components/storage/util.py
  viseron/domains/camera/__init__.py
  viseron/domains/camera/fragmenter.py
Due: azure-pipelines/azure-pipelines-viseron.yml

Minor fixes
  viseron/components/storage/__init__.py
  viseron/components/storage/const.py
  viseron/components/storage/tier_handler.py
  viseron/domains/camera/fragmenter.py
Due: azure-pipelines/azure-pipelines-viseron.yml
